In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('train.csv')

In [3]:
df1.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [4]:
#activties might be reduced to general frequency, activities are open ended will not work in total
game_df=df1[df1['type']=='Game']

In [5]:
game_df['title'].value_counts()

Chow Time           1150974
Scrub-A-Dub         1016837
All Star Sorting     509344
Dino Drink           492916
Bubble Bath          458972
Crystals Rule        453852
Dino Dive            427655
Pan Balance          384857
Happy Camel          311543
Air Show             306239
Leaf Leader          282104
Name: title, dtype: int64

In [6]:
game_df['event_code'].value_counts()

4070    1392621
4020     604176
3010     598886
3110     586242
4030     505177
3020     262947
3120     260191
2020     245550
2030     217563
3021     214844
3121     210756
4035      99840
4040      69890
4010      54698
2000      52399
4031      47176
4100      36897
2040      33743
2080      33497
4230      31535
4235      31526
2050      29691
4025      25743
2083      23091
4045      20166
4220      18777
2060      15770
4095      15587
2025      15228
2081       8403
2070       7654
2035       7156
2075       6925
4090       6120
4110       2450
4050       1989
4080        387
2010          2
Name: event_code, dtype: int64

In [7]:
filtered_game_df=game_df[(game_df['event_code']==4020)]

In [8]:
filtered_game_df.shape

(604176, 11)

In [9]:
def event_sorter(ent,cols):
    df=pd.DataFrame(index=range(0,len(ent)),columns=cols)
    c=df.columns
    num=0
    for i in ent:
        e=0
        #print(i)

        for k in i:
            cc=c[e]
            df[cc][num]=k
            e=e+1
            #print(k)
        num=num+1
    return df

In [10]:
def unique_col_names(col_list,unique_ending):
    new_col_list=[]
    for col in col_list:
        n_col=col + "_" + unique_ending
        new_col_list.append(n_col)
    return new_col_list

In [11]:
import json
f1=filtered_game_df[filtered_game_df['title']=='Chow Time']
ct_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))

#ct_df=pd.concat([f1['installation_id'],ct_df2])
ct_df.head()
#ct_df['caterpillars']=ct_df['caterpillars'].fillna("n")
#first=event_sorter(bm_df['caterpillars'],cols=['cat_p_l','cat_p_c','cat_p_r'])

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,duration,event_code,event_count,game_time,round,scale_contents,scale_weight,weight
0,762,1015,336,362,True,584,4020,17,16536,1,[3],3,3
1,762,1015,354,373,False,934,4020,22,18936,1,"[3, 3]",6,3
2,762,1015,411,407,False,850,4020,27,22085,1,"[3, 3, 1]",7,1
3,762,1015,323,423,False,568,4020,33,27120,1,"[3, 3, 1, 1]",8,1
4,762,1015,384,620,False,534,4020,39,30270,1,"[3, 3, 1, 1]",8,1

In [12]:
f1.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
5357,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:36.645Z,"{""weight"":3,""correct"":true,""scale_weight"":3,""s...",0006c192,17,4020,16536,Chow Time,Game,CRYSTALCAVES
5362,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:39.046Z,"{""weight"":3,""correct"":false,""scale_weight"":6,""...",0006c192,22,4020,18936,Chow Time,Game,CRYSTALCAVES
5367,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:42.194Z,"{""weight"":1,""correct"":false,""scale_weight"":7,""...",0006c192,27,4020,22085,Chow Time,Game,CRYSTALCAVES
5373,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:47.229Z,"{""weight"":1,""correct"":false,""scale_weight"":8,""...",0006c192,33,4020,27120,Chow Time,Game,CRYSTALCAVES
5379,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:50.378Z,"{""weight"":1,""correct"":false,""scale_weight"":8,""...",0006c192,39,4020,30270,Chow Time,Game,CRYSTALCAVES

In [13]:
import numpy as np
po=0
scale_avg=[]
for i in ct_df['scale_contents']:
    #print(i)
    scale_avg.append(np.mean(i))
ct_df['scale_contents_avg']=scale_avg
ct_df.drop('scale_contents',axis=1,inplace=True)
ct_df.columns=unique_col_names(ct_df.columns,"chow_time")

In [14]:
ct_df.head()

,coordinates.stage_height_chow_time,coordinates.stage_width_chow_time,coordinates.x_chow_time,coordinates.y_chow_time,correct_chow_time,duration_chow_time,event_code_chow_time,event_count_chow_time,game_time_chow_time,round_chow_time,scale_weight_chow_time,weight_chow_time,scale_contents_avg_chow_time
0,762,1015,336,362,True,584,4020,17,16536,1,3,3,3.000000
1,762,1015,354,373,False,934,4020,22,18936,1,6,3,3.000000
2,762,1015,411,407,False,850,4020,27,22085,1,7,1,2.333333
3,762,1015,323,423,False,568,4020,33,27120,1,8,1,2.000000
4,762,1015,384,620,False,534,4020,39,30270,1,8,1,2.000000

In [15]:
import json
f1=filtered_game_df[filtered_game_df['title']=='Chow Time']
f1['indy']=range(0,len(f1['installation_id']))
ct_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))
f1.set_index('indy',inplace=True)
import numpy as np
po=0
scale_avg=[]
for i in ct_df['scale_contents']:
    #print(i)
    scale_avg.append(np.mean(i))
ct_df['scale_contents_avg']=scale_avg
ct_df.drop('scale_contents',axis=1,inplace=True)
ct_df.columns=unique_col_names(ct_df.columns,"chow_time")
ct_df.head()
#ct_df.columns=unique_col_names(ct_df.columns,"chow_time")
ct_df2=pd.concat([f1['installation_id'],ct_df],axis=1)
ct_df2.head()
#scale contents average
#append the rest of the dataset to the ct_df

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_chow_time,coordinates.stage_width_chow_time,coordinates.x_chow_time,coordinates.y_chow_time,correct_chow_time,duration_chow_time,event_code_chow_time,event_count_chow_time,game_time_chow_time,round_chow_time,scale_weight_chow_time,weight_chow_time,scale_contents_avg_chow_time
0,0006c192,762,1015,336,362,True,584,4020,17,16536,1,3,3,3.000000
1,0006c192,762,1015,354,373,False,934,4020,22,18936,1,6,3,3.000000
2,0006c192,762,1015,411,407,False,850,4020,27,22085,1,7,1,2.333333
3,0006c192,762,1015,323,423,False,568,4020,33,27120,1,8,1,2.000000
4,0006c192,762,1015,384,620,False,534,4020,39,30270,1,8,1,2.000000

In [16]:
f1.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
indy,,,,,,,,,,,
0,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:36.645Z,"{""weight"":3,""correct"":true,""scale_weight"":3,""s...",0006c192,17,4020,16536,Chow Time,Game,CRYSTALCAVES
1,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:39.046Z,"{""weight"":3,""correct"":false,""scale_weight"":6,""...",0006c192,22,4020,18936,Chow Time,Game,CRYSTALCAVES
2,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:42.194Z,"{""weight"":1,""correct"":false,""scale_weight"":7,""...",0006c192,27,4020,22085,Chow Time,Game,CRYSTALCAVES
3,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:47.229Z,"{""weight"":1,""correct"":false,""scale_weight"":8,""...",0006c192,33,4020,27120,Chow Time,Game,CRYSTALCAVES
4,4ef8cdd3,e6a6a262a8243ff7,2019-09-13T00:31:50.378Z,"{""weight"":1,""correct"":false,""scale_weight"":8,""...",0006c192,39,4020,30270,Chow Time,Game,CRYSTALCAVES

In [17]:
import json
f2=filtered_game_df[filtered_game_df['title']=='Scrub-A-Dub']
f2['indy']=range(0,len(f2['installation_id']))
f2.set_index('indy',inplace=True)
sd_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
sd_df.columns=unique_col_names(sd_df.columns,"scrub-a-dub")
sd_df2=pd.concat([f2['installation_id'],sd_df],axis=1)
sd_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,animal_scrub-a-dub,coordinates.stage_height_scrub-a-dub,coordinates.stage_width_scrub-a-dub,coordinates.x_scrub-a-dub,coordinates.y_scrub-a-dub,correct_scrub-a-dub,event_code_scrub-a-dub,event_count_scrub-a-dub,game_time_scrub-a-dub,item_type_scrub-a-dub,level_scrub-a-dub,position_scrub-a-dub,round_scrub-a-dub,size_scrub-a-dub
0,hog,1082,2028,1392,311,True,4020,10,24773,Tub,1,2,1,3
1,chicken,1082,2028,808,309,True,4020,16,28824,Tub,1,1,2,0
2,hog,1082,2028,872,277,True,4020,26,39808,Water,2,1,3,3
3,chicken,1082,2028,1398,355,True,4020,32,41975,Water,2,2,4,0
4,hog,1082,2028,846,345,True,4020,41,52112,Soap,3,1,5,3

In [18]:
pd.options.display.max_colwidth = 600

In [19]:
import json
f3=filtered_game_df[filtered_game_df['title']=='All Star Sorting']
f3['indy']=range(0,len(f3['installation_id']))
f3.set_index('indy',inplace=True)
ass_df=pd.io.json.json_normalize(f3.event_data.apply(json.loads))
ass_df.head()
# total size_b total size_a
#dinos present a dinos present b

#dino name 1,2,3,4,5 size,1,2,3,4,5
#cont=event_sorter(ass_df['dinosaurs'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])
#cont2=event_sorter(ass_df['dinosaurs_placed'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,dinosaur,dinosaurs,dinosaurs_placed,duration,event_code,event_count,game_time,house.position,house.size,round,size
0,762,1015,830,388,False,don,"[{'name': 'none', 'size': 0}, {'name': 'stacey', 'size': 4}, {'name': 'petey', 'size': 2}]","[{'size': 0, 'name': 'none'}, {'size': 0, 'name': 'none'}, {'size': 3, 'name': 'don'}]",1832,4020,12,15777,3,2,1,3
1,762,1015,683,403,False,stacey,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'petey', 'size': 2}]","[{'size': 0, 'name': 'none'}, {'size': 4, 'name': 'stacey'}, {'size': 3, 'name': 'don'}]",550,4020,14,16911,2,3,1,4
2,762,1015,440,414,True,stacey,"[{'name': 'none', 'size': 0}, {'name': 'buddy', 'size': 3}, {'name': 'petey', 'size': 2}]","[{'size': 4, 'name': 'stacey'}, {'size': 0, 'name': 'none'}, {'size': 0, 'name': 'none'}]",799,4020,12,13691,1,4,1,4
3,762,1015,838,418,False,buddy,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'petey', 'size': 2}]","[{'size': 4, 'name': 'stacey'}, {'size': 0, 'name': 'none'}, {'size': 3, 'name': 'buddy'}]",800,4020,17,16941,3,2,1,3
4,762,1015,657,381,False,petey,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}]","[{'size': 4, 'name': 'stacey'}, {'size': 2, 'name': 'petey'}, {'size': 3, 'name': 'buddy'}]",1250,4020,26,27058,2,3,1,2

In [20]:
ass_df['dinosaurs'][1][2]

{'name': 'petey', 'size': 2}

In [21]:
cont=event_sorter(ass_df['dinosaurs'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])

In [22]:
cont2=event_sorter(ass_df['dinosaurs_placed'],cols=['dino_placed_1','dino_placed_2','dino_placed_3','dino_placed_4','dino_placed_5'])

In [23]:
cont.head()

,dino_1,dino_2,dino_3,dino_4,dino_5
0,"{'name': 'none', 'size': 0}","{'name': 'stacey', 'size': 4}","{'name': 'petey', 'size': 2}",NaN,NaN
1,"{'name': 'none', 'size': 0}","{'name': 'none', 'size': 0}","{'name': 'petey', 'size': 2}",NaN,NaN
2,"{'name': 'none', 'size': 0}","{'name': 'buddy', 'size': 3}","{'name': 'petey', 'size': 2}",NaN,NaN
3,"{'name': 'none', 'size': 0}","{'name': 'none', 'size': 0}","{'name': 'petey', 'size': 2}",NaN,NaN
4,"{'name': 'none', 'size': 0}","{'name': 'none', 'size': 0}","{'name': 'none', 'size': 0}",NaN,NaN

In [24]:
def sub_dict_parser(dict_list):
    for j in dict_list:
        if pd.notnull(j):
            k=[*j]
            break
    df=pd.DataFrame(index=range(0,len(dict_list)),columns=k)
    io=0
    for o in k:
        io=0
        for i in dict_list:
            if pd.notnull(i):
                df[o][io]=i.get(o)
                io=io+1
    return df

In [25]:
dict_split_1=sub_dict_parser(cont['dino_1'])

In [26]:
dict_split_2=sub_dict_parser(cont['dino_2'])

In [27]:
dict_split_3=sub_dict_parser(cont['dino_3'])

In [28]:
dict_split_4=sub_dict_parser(cont['dino_4'])

In [29]:
dict_split_5=sub_dict_parser(cont['dino_5'])

In [30]:
super_df2=pd.concat([dict_split_1,dict_split_2,dict_split_3,dict_split_4,dict_split_5],axis=1)

In [31]:
super_df2.columns=['size_1','name_1','size_2','name_2',
                   'size_3','name_3','size_4','name_4','size_5','name_5']

In [32]:
dict_placed_1=sub_dict_parser(cont2['dino_placed_1'])

In [33]:
dict_placed_2=sub_dict_parser(cont2['dino_placed_2'])

In [34]:
dict_placed_3=sub_dict_parser(cont2['dino_placed_3'])

In [35]:
dict_placed_4=sub_dict_parser(cont2['dino_placed_4'])

In [36]:
dict_placed_5=sub_dict_parser(cont2['dino_placed_5'])

In [37]:
super_df3=pd.concat([dict_placed_1,dict_placed_2,dict_placed_3,dict_placed_4,dict_placed_5],axis=1)

In [38]:
super_df3.columns=['size_placed_1','name_placed_1','size_placed_2','name_placed_2',
                   'size_placed_3','name_placed_3','size_placed_4','name_placed_4','size_placed_5','name_placed_5']

In [46]:
ass_df_final=pd.concat([ass_df,super_df2,super_df3],axis=1)
ass_df_final.columns=unique_col_names(ass_df_final.columns,"all_star_sorting")

In [47]:
ass_df_final_2=pd.concat([f3['installation_id'],ass_df_final],axis=1)
ass_df_final_2.drop(['dinosaurs_all_star_sorting','dinosaurs_placed_all_star_sorting'],axis=1,inplace=True)

In [48]:
ass_df_final_2.head()

,installation_id,coordinates.stage_height_all_star_sorting,coordinates.stage_width_all_star_sorting,coordinates.x_all_star_sorting,coordinates.y_all_star_sorting,correct_all_star_sorting,dinosaur_all_star_sorting,duration_all_star_sorting,event_code_all_star_sorting,event_count_all_star_sorting,...,size_placed_1_all_star_sorting,name_placed_1_all_star_sorting,size_placed_2_all_star_sorting,name_placed_2_all_star_sorting,size_placed_3_all_star_sorting,name_placed_3_all_star_sorting,size_placed_4_all_star_sorting,name_placed_4_all_star_sorting,size_placed_5_all_star_sorting,name_placed_5_all_star_sorting
0,0006a69f,762,1015,830,388,False,don,1832,4020,12,...,0,none,0,none,3,don,0,none,4,quincy
1,0006a69f,762,1015,683,403,False,stacey,550,4020,14,...,0,none,4,stacey,3,don,0,none,4,quincy
2,0006a69f,762,1015,440,414,True,stacey,799,4020,12,...,4,stacey,0,none,0,none,0,none,4,quincy
3,0006a69f,762,1015,838,418,False,buddy,800,4020,17,...,4,stacey,0,none,3,buddy,1,mikey,4,quincy
4,0006a69f,762,1015,657,381,False,petey,1250,4020,26,...,4,stacey,2,petey,3,buddy,1,mikey,4,quincy

In [49]:
super_df3.head()

,size_placed_1,name_placed_1,size_placed_2,name_placed_2,size_placed_3,name_placed_3,size_placed_4,name_placed_4,size_placed_5,name_placed_5
0,0,none,0,none,3,don,0,none,4,quincy
1,0,none,4,stacey,3,don,0,none,4,quincy
2,4,stacey,0,none,0,none,0,none,4,quincy
3,4,stacey,0,none,3,buddy,1,mikey,4,quincy
4,4,stacey,2,petey,3,buddy,1,mikey,4,quincy

In [50]:
pd.isnull(cont['dino_3'][0])

False

In [51]:
cont2.head()

,dino_placed_1,dino_placed_2,dino_placed_3,dino_placed_4,dino_placed_5
0,"{'size': 0, 'name': 'none'}","{'size': 0, 'name': 'none'}","{'size': 3, 'name': 'don'}",NaN,NaN
1,"{'size': 0, 'name': 'none'}","{'size': 4, 'name': 'stacey'}","{'size': 3, 'name': 'don'}",NaN,NaN
2,"{'size': 4, 'name': 'stacey'}","{'size': 0, 'name': 'none'}","{'size': 0, 'name': 'none'}",NaN,NaN
3,"{'size': 4, 'name': 'stacey'}","{'size': 0, 'name': 'none'}","{'size': 3, 'name': 'buddy'}",NaN,NaN
4,"{'size': 4, 'name': 'stacey'}","{'size': 2, 'name': 'petey'}","{'size': 3, 'name': 'buddy'}",NaN,NaN

In [52]:
cols=['dino_1','dino_2','dino_3','dino_4','dino_5']
ass_df['dinosaur'][0]

'don'

In [53]:
import json
f4=filtered_game_df[filtered_game_df['title']=='Dino Drink']
f4['indy']=range(0,len(f4['installation_id']))
f4.set_index('indy',inplace=True)
dd_df=pd.io.json.json_normalize(f4.event_data.apply(json.loads))
dd_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,event_code,event_count,game_time,hole_position,holes,position,round,shell_size
0,406,1015,400,256,False,4020,31,63306,1,"[{'size': 2, 'filled': False}, {'size': 3, 'filled': False}]",3,1,1
1,406,1015,537,258,True,4020,39,87691,2,"[{'size': 2, 'filled': False}, {'size': 3, 'filled': True}]",2,1,3
2,406,1015,400,256,True,4020,49,100159,1,"[{'size': 2, 'filled': True}, {'size': 3, 'filled': True}]",1,1,2
3,406,1015,675,269,True,4020,58,113943,3,"[{'size': 3, 'filled': False}, {'size': 2, 'filled': False}, {'size': 2, 'filled': True}]",3,2,2
4,406,1015,400,256,True,4020,63,127161,1,"[{'size': 3, 'filled': True}, {'size': 2, 'filled': False}, {'size': 2, 'filled': True}]",2,2,3

In [54]:
pd.options.display.max_colwidth = 600
hole_df_ext=event_sorter(dd_df['holes'],cols=['hole_1','hole_2','hole_3','hole_4','hole_5'])
#size, filled 
#for i in dd_df['holes']:
    #print(i)

In [55]:
hole_df_ext.head()

,hole_1,hole_2,hole_3,hole_4,hole_5
0,"{'size': 2, 'filled': False}","{'size': 3, 'filled': False}",NaN,NaN,NaN
1,"{'size': 2, 'filled': False}","{'size': 3, 'filled': True}",NaN,NaN,NaN
2,"{'size': 2, 'filled': True}","{'size': 3, 'filled': True}",NaN,NaN,NaN
3,"{'size': 3, 'filled': False}","{'size': 2, 'filled': False}","{'size': 2, 'filled': True}",NaN,NaN
4,"{'size': 3, 'filled': True}","{'size': 2, 'filled': False}","{'size': 2, 'filled': True}",NaN,NaN

In [56]:
dict_split_1=sub_dict_parser(hole_df_ext['hole_1'])

In [57]:
dict_split_2=sub_dict_parser(hole_df_ext['hole_2'])

In [58]:
dict_split_3=sub_dict_parser(hole_df_ext['hole_3'])

In [59]:
dict_split_4=sub_dict_parser(hole_df_ext['hole_4'])

In [60]:
dict_split_5=sub_dict_parser(hole_df_ext['hole_5'])

In [61]:
super_df1=pd.concat([dict_split_1,dict_split_2,dict_split_3,dict_split_4,dict_split_5],axis=1)

In [62]:
super_df1.columns=['size_hole_1','filled_1','size_hole_2','filled_2',
                   'size_hole_3','filled_3','size_hole_4','filled_4','size_hole_5','filled_5']

In [63]:
dd_df_final=pd.concat([dd_df,super_df1],axis=1)
dd_df_final.drop('holes',axis=1,inplace=True)
dd_df_final.head()
dd_df_final.columns=unique_col_names(dd_df_final.columns,"dino_drink")

In [64]:
dd_df_final_2=pd.concat([f4['installation_id'],dd_df_final],axis=1)
dd_df_final_2.head()

,installation_id,coordinates.stage_height_dino_drink,coordinates.stage_width_dino_drink,coordinates.x_dino_drink,coordinates.y_dino_drink,correct_dino_drink,event_code_dino_drink,event_count_dino_drink,game_time_dino_drink,hole_position_dino_drink,...,size_hole_1_dino_drink,filled_1_dino_drink,size_hole_2_dino_drink,filled_2_dino_drink,size_hole_3_dino_drink,filled_3_dino_drink,size_hole_4_dino_drink,filled_4_dino_drink,size_hole_5_dino_drink,filled_5_dino_drink
0,0001e90f,406,1015,400,256,False,4020,31,63306,1,...,2,False,3,False,2,True,2,False,2,False
1,0001e90f,406,1015,537,258,True,4020,39,87691,2,...,2,False,3,True,2,True,2,False,2,False
2,0001e90f,406,1015,400,256,True,4020,49,100159,1,...,2,True,3,True,2,True,2,False,2,True
3,0001e90f,406,1015,675,269,True,4020,58,113943,3,...,3,False,2,False,2,True,2,True,2,True
4,0001e90f,406,1015,400,256,True,4020,63,127161,1,...,3,True,2,False,3,False,2,True,2,True

In [65]:
super_df1.head()

,size_hole_1,filled_1,size_hole_2,filled_2,size_hole_3,filled_3,size_hole_4,filled_4,size_hole_5,filled_5
0,2,False,3,False,2,True,2,False,2,False
1,2,False,3,True,2,True,2,False,2,False
2,2,True,3,True,2,True,2,False,2,True
3,3,False,2,False,2,True,2,True,2,True
4,3,True,2,False,3,False,2,True,2,True

In [66]:
import json
f5=filtered_game_df[filtered_game_df['title']=='Bubble Bath']
f5['indy']=range(0,len(f5['installation_id']))
f5.set_index('indy',inplace=True)
bb_df=pd.io.json.json_normalize(f5.event_data.apply(json.loads))
bb_df.head()
bb_df.columns=unique_col_names(bb_df.columns,"bubble_bath")
bb_df2=pd.concat([f5['installation_id'],bb_df],axis=1)
bb_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,containers_bubble_bath,coordinates.stage_height_bubble_bath,coordinates.stage_width_bubble_bath,coordinates.x_bubble_bath,coordinates.y_bubble_bath,correct_bubble_bath,event_code_bubble_bath,event_count_bubble_bath,game_time_bubble_bath,position_bubble_bath,round_bubble_bath,target_containers_bubble_bath
0,0006a69f,5,541,1014,594,484,False,4020,38,37351,3,1,4
1,0006a69f,6,541,1014,463,479,False,4020,80,94012,2,2,3
2,0006a69f,5,541,1014,616,512,False,4020,15,40040,3,1,4
3,0006a69f,4,541,1014,344,478,True,4020,52,97176,1,2,4
4,0006c192,8,541,1014,469,475,True,4020,41,42795,2,1,8

In [67]:
import json
f6=filtered_game_df[filtered_game_df['title']=='Crystals Rule']
f6['indy']=range(0,len(f6['installation_id']))
f6.set_index('indy',inplace=True)
cr_df=pd.io.json.json_normalize(f6.event_data.apply(json.loads))
cr_df.head()
cr_df.columns=unique_col_names(cr_df.columns,"crystals_rule")
cr_df2=pd.concat([f6['installation_id'],cr_df],axis=1)
cr_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_crystals_rule,coordinates.stage_width_crystals_rule,coordinates.x_crystals_rule,coordinates.y_crystals_rule,correct_crystals_rule,event_code_crystals_rule,event_count_crystals_rule,game_time_crystals_rule,group_crystals_rule,object_type_crystals_rule,position_crystals_rule,round_crystals_rule
0,0006a69f,524,1014,889,396,True,4020,9,20590,3,block,2,1
1,0006a69f,524,1014,890,211,False,4020,25,31616,2,crayon,1,2
2,0006a69f,524,1014,926,405,True,4020,33,39274,3,crayon,2,2
3,0006a69f,524,1014,888,398,True,4020,16,19963,3,toothbrush,2,1
4,0006a69f,524,1014,867,200,True,4020,29,30655,2,paperclip,1,2

In [68]:
import json
f7=filtered_game_df[filtered_game_df['title']=='Dino Dive']
f7['indy']=range(0,len(f7['installation_id']))
f7.set_index('indy',inplace=True)
dd2_df=pd.io.json.json_normalize(f7.event_data.apply(json.loads))
dd2_df.head()
dd2_df.columns=unique_col_names(dd2_df.columns,"deep_dive")
dd2_df2=pd.concat([f7['installation_id'],dd2_df],axis=1)
dd2_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_deep_dive,coordinates.stage_width_deep_dive,coordinates.x_deep_dive,coordinates.y_deep_dive,correct_deep_dive,dinosaur_deep_dive,event_code_deep_dive,event_count_deep_dive,game_time_deep_dive,round_deep_dive,size_deep_dive,water_level_deep_dive
0,0006c192,468,1014,508,156,False,mikey,4020,74,59949,1,1,1
1,0006c192,468,1014,200,115,True,sonny,4020,85,70832,1,6,6
2,0006c192,468,1014,470,164,True,teri,4020,94,84998,2,1,1
3,0006c192,468,1014,483,159,False,teri,4020,125,102783,3,1,1
4,0006c192,468,1014,521,173,False,mikey,4020,131,107085,3,1,2

In [69]:
import json
f8=filtered_game_df[filtered_game_df['title']=='Pan Balance']
f8['indy']=range(0,len(f8['installation_id']))
f8.set_index('indy',inplace=True)
pb_df=pd.io.json.json_normalize(f8.event_data.apply(json.loads))
pb_df.head()
#
pb_df.columns=unique_col_names(pb_df.columns,"pan_balance")
pb_df2=pd.concat([f8['installation_id'],pb_df],axis=1)
pb_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,correct_pan_balance,duration_pan_balance,event_code_pan_balance,event_count_pan_balance,game_time_pan_balance,round_pan_balance,table_weights_pan_balance,target_weight_pan_balance,weights_pan_balance
0,001d0ed0,False,150,4020,10,21889,1,4,1,2
1,001d0ed0,False,1467,4020,17,28489,1,3,1,3
2,001d0ed0,False,1300,4020,23,34990,1,2,1,4
3,001d0ed0,True,1784,4020,39,88394,1,5,1,1
4,001d0ed0,False,1066,4020,42,91494,1,4,1,2

In [70]:
import json
f9=filtered_game_df[filtered_game_df['title']=='Happy Camel']
f9['indy']=range(0,len(f9['installation_id']))
f9.set_index('indy',inplace=True)
hc_df=pd.io.json.json_normalize(f9.event_data.apply(json.loads))
hc_df.head()
#scale contents 1 and scale contents 2
cont=event_sorter(hc_df['scale_contents'],cols=['contents_1','contents_2'])
hc_df2=pd.concat([hc_df,cont],axis=1)
hc_df2.drop(['scale_contents'],axis=1,inplace=True)
hc_df2.columns=unique_col_names(hc_df2.columns,"happy_camel")
hc_df2.head()
hc_df3=pd.concat([f9['installation_id'],hc_df2],axis=1)
hc_df3.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,bowl_id_happy_camel,coordinates.stage_height_happy_camel,coordinates.stage_width_happy_camel,coordinates.x_happy_camel,coordinates.y_happy_camel,correct_happy_camel,event_code_happy_camel,event_count_happy_camel,game_time_happy_camel,position_happy_camel,round_happy_camel,source_happy_camel,contents_1_happy_camel,contents_2_happy_camel
0,0016b7cc,1,541,1014,821,422,True,4020,109,65770,1,1,resources,empty,empty
1,0016b7cc,2,541,1014,821,422,True,4020,124,84905,2,2,scale,bowl,empty
2,0016b7cc,2,541,1014,821,422,False,4020,138,100822,1,3,scale,empty,bowl
3,0016b7cc,3,541,1014,821,422,True,4020,147,106873,3,3,resources,empty,empty
4,0016b7cc,2,541,1014,821,422,True,4020,175,136074,2,4,scale,bowl,empty

In [71]:
import json
import numpy as np
f10=filtered_game_df[filtered_game_df['title']=='Air Show']
f10['indy']=range(0,len(f10['installation_id']))
f10.set_index('indy',inplace=True)
as_df=pd.io.json.json_normalize(f10.event_data.apply(json.loads))

#o=0
t_means=[]
for i in as_df['target_distances']:
    t_means.append(np.mean(i))
    #print(as_df['target_distances'][o])
    #o=o+1
as_df['target2']=t_means
as_df.head()

#np.mean(as_df['target_distances'][0])
#target distance average or sum

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,correct,dinosaur,distance,event_code,event_count,game_time,round,target_distances,target2
0,False,tiny,3,4020,62,109097,1,"[5, 6, 7, 8, 9, 10]",7.5
1,True,tiny,5,4020,64,110063,1,"[5, 6, 7, 8, 9, 10]",7.5
2,True,tiny,7,4020,67,110472,1,"[5, 6, 7, 8, 9, 10]",7.5
3,True,tiny,10,4020,70,110880,1,"[5, 6, 7, 8, 9, 10]",7.5
4,False,don,9,4020,94,131323,2,"[5, 6, 7]",6.0

In [72]:
as_df.drop(['target_distances'],axis=1,inplace=True)
as_df.columns=unique_col_names(as_df.columns,"air_show")

In [73]:
as_df2=pd.concat([f10['installation_id'],as_df],axis=1)
as_df2.head()

,installation_id,correct_air_show,dinosaur_air_show,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show
0,0006a69f,False,tiny,3,4020,62,109097,1,7.5
1,0006a69f,True,tiny,5,4020,64,110063,1,7.5
2,0006a69f,True,tiny,7,4020,67,110472,1,7.5
3,0006a69f,True,tiny,10,4020,70,110880,1,7.5
4,0006a69f,False,don,9,4020,94,131323,2,6.0

In [74]:
#final_game_df_all.drop(['coordinates.x','coordinates.y','coordinates.stage_height','coordinates.stage_width','event_code','scale_contents'],axis=1,inplace=True)

In [75]:
as_df.shape

(26555, 8)

In [76]:
import json
f11=filtered_game_df[filtered_game_df['title']=='Leaf Leader']
f11['indy']=range(0,len(f11['installation_id']))
f11.set_index('indy',inplace=True)
ll_df=pd.io.json.json_normalize(f11.event_data.apply(json.loads))
ll_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,dinosaur,dinosaur_count,dinosaur_weight,event_code,event_count,game_time,mode,round,weight
0,406,1015,251,274,True,shiny,1,2,4020,19,54957,add,1,2
1,406,1015,320,274,True,tiny,2,2,4020,20,59112,add,1,4
2,406,1015,320,336,True,buddy,3,2,4020,21,60731,add,1,6
3,406,1015,320,274,True,tiny,1,2,4020,29,75672,add,2,2
4,406,1015,320,336,True,buddy,2,2,4020,30,79393,add,2,4

In [77]:
ll_df.columns=unique_col_names(ll_df.columns,"leaf_leader")

In [78]:
ll_df2=pd.concat([f11['installation_id'],ll_df],axis=1)
ll_df2.head()

,installation_id,coordinates.stage_height_leaf_leader,coordinates.stage_width_leaf_leader,coordinates.x_leaf_leader,coordinates.y_leaf_leader,correct_leaf_leader,dinosaur_leaf_leader,dinosaur_count_leaf_leader,dinosaur_weight_leaf_leader,event_code_leaf_leader,event_count_leaf_leader,game_time_leaf_leader,mode_leaf_leader,round_leaf_leader,weight_leaf_leader
0,00279ac5,406,1015,251,274,True,shiny,1,2,4020,19,54957,add,1,2
1,00279ac5,406,1015,320,274,True,tiny,2,2,4020,20,59112,add,1,4
2,00279ac5,406,1015,320,336,True,buddy,3,2,4020,21,60731,add,1,6
3,00279ac5,406,1015,320,274,True,tiny,1,2,4020,29,75672,add,2,2
4,00279ac5,406,1015,320,336,True,buddy,2,2,4020,30,79393,add,2,4

In [79]:
final_game_df_all=pd.concat([as_df2,hc_df3,pb_df2,dd2_df2,cr_df2,bb_df2,dd_df_final_2,ass_df_final_2,sd_df2,ct_df2,ll_df2],axis=1)

In [80]:
inst_names=[]
io= 1
for i in final_game_df_all['installation_id'].columns:
    inst_names.append(i+'_'+str(io))
    io=io+1

In [81]:
pf=final_game_df_all['installation_id']
pf.columns=inst_names
pf.head()
full_ids=pf['installation_id_10']

In [82]:

final_game_df_all.drop(['installation_id'],axis=1,inplace=True)
final_game_df_all.head()

,correct_air_show,dinosaur_air_show,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show,bowl_id_happy_camel,coordinates.stage_height_happy_camel,...,correct_leaf_leader,dinosaur_leaf_leader,dinosaur_count_leaf_leader,dinosaur_weight_leaf_leader,event_code_leaf_leader,event_count_leaf_leader,game_time_leaf_leader,mode_leaf_leader,round_leaf_leader,weight_leaf_leader
0,False,tiny,3.0,4020.0,62.0,109097.0,1.0,7.5,1.0,541.0,...,True,shiny,1.0,2.0,4020.0,19.0,54957.0,add,1.0,2.0
1,True,tiny,5.0,4020.0,64.0,110063.0,1.0,7.5,2.0,541.0,...,True,tiny,2.0,2.0,4020.0,20.0,59112.0,add,1.0,4.0
2,True,tiny,7.0,4020.0,67.0,110472.0,1.0,7.5,2.0,541.0,...,True,buddy,3.0,2.0,4020.0,21.0,60731.0,add,1.0,6.0
3,True,tiny,10.0,4020.0,70.0,110880.0,1.0,7.5,3.0,541.0,...,True,tiny,1.0,2.0,4020.0,29.0,75672.0,add,2.0,2.0
4,False,don,9.0,4020.0,94.0,131323.0,2.0,6.0,2.0,541.0,...,True,buddy,2.0,2.0,4020.0,30.0,79393.0,add,2.0,4.0

In [83]:

def handle_strings(df):
    dum_df=df
    for i in final_game_df_all.columns:
        n=df[i]
        
        if (type(n.values[0]).__name__ =='str')|(type(n.values[0]).__name__ =='bool'):
            dum=pd.get_dummies(n)
            dum_df=pd.concat([dum_df,dum],axis=1)
            dum_df.drop(i,axis=1,inplace=True)
    return dum_df

In [84]:
for i in final_game_df_all.columns:
    n=final_game_df_all[i]
    print((type(n.values[0]).__name__=='str')|(type(n.values[0]).__name__=='bool'))

True
True
False
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
False
True
True
True
True
False
False
False
False
False
False
False
False
False
False
False
False
True
True
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
True
False
False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
True
False
True
False
True
False
True
False
True
False
False
False
False
True
True
False
False
False
False
False
False
False
False
True
False
True
False
True
False
True
False
True
False
False
True
False
True
False
True
False
True
False
True
True
False
False
False
False
True
False
False
False
True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
True
False
False
False
False
False
True
False
False

In [85]:
full_df_with_dummies=handle_strings(final_game_df_all)

In [86]:
full_df_with_dummies.shape

(131972, 310)

In [87]:
for i in full_df_with_dummies.columns:
    n=full_df_with_dummies[i]
    print((type(n.values[0]).__name__=='str')|(type(n.values[0]).__name__=='bool'))

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [88]:
full_df_with_dummies['full_ids']=full_ids

In [89]:
full_df_with_dummies.head()

,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show,bowl_id_happy_camel,coordinates.stage_height_happy_camel,coordinates.stage_width_happy_camel,coordinates.x_happy_camel,...,don,mikey,ned,shiny,sonny,teri,tiny,add,remove,full_ids
0,3.0,4020.0,62.0,109097.0,1.0,7.5,1.0,541.0,1014.0,821.0,...,0,0,0,1,0,0,0,1,0,0006c192
1,5.0,4020.0,64.0,110063.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,1,1,0,0006c192
2,7.0,4020.0,67.0,110472.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,0,0006c192
3,10.0,4020.0,70.0,110880.0,1.0,7.5,3.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,1,1,0,0006c192
4,9.0,4020.0,94.0,131323.0,2.0,6.0,2.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,0,0006c192

In [90]:
full_df_with_dummies.shape

(131972, 311)

In [91]:
filled_full_df_with_dummies=full_df_with_dummies.fillna(0)

In [92]:
def unique_list(list_d):
    u_l=[]
    for i in list_d:
        if i not in u_l:
            u_l.append(i)
    return u_l

In [93]:
new_cols=full_df_with_dummies.columns
new_cols=new_cols[:-1]
new_cols

Index([                   'distance_air_show',
                        'event_code_air_show',
                       'event_count_air_show',
                         'game_time_air_show',
                             'round_air_show',
                           'target2_air_show',
                        'bowl_id_happy_camel',
       'coordinates.stage_height_happy_camel',
        'coordinates.stage_width_happy_camel',
                  'coordinates.x_happy_camel',
       ...
                                      'buddy',
                                        'don',
                                      'mikey',
                                        'ned',
                                      'shiny',
                                      'sonny',
                                       'teri',
                                       'tiny',
                                        'add',
                                     'remove'],
      dtype='object', length=310)

In [94]:
final=unique_list(full_df_with_dummies['full_ids'])

In [95]:
unique_col_names=[]
io= 1
for i in filled_full_df_with_dummies.columns:
    unique_col_names.append(str(i)+'_'+str(io))
    io=io+1

In [96]:
filled_full_df_with_dummies.columns=unique_col_names

In [97]:
filled_full_df_with_dummies.columns

Index(['distance_air_show_1', 'event_code_air_show_2',
       'event_count_air_show_3', 'game_time_air_show_4', 'round_air_show_5',
       'target2_air_show_6', 'bowl_id_happy_camel_7',
       'coordinates.stage_height_happy_camel_8',
       'coordinates.stage_width_happy_camel_9', 'coordinates.x_happy_camel_10',
       ...
       'don_302', 'mikey_303', 'ned_304', 'shiny_305', 'sonny_306', 'teri_307',
       'tiny_308', 'add_309', 'remove_310', 'full_ids_311'],
      dtype='object', length=311)

In [98]:
inst_df=pd.DataFrame(index=final,columns=unique_col_names)

In [99]:
inst_df.shape

(4780, 311)

In [100]:


lolo=0
#final=unique_list(full_df_with_dummies['full_ids'])
for i in final:
    #lolo=0
    love=filled_full_df_with_dummies[(filled_full_df_with_dummies['full_ids_311']==i)]
    love.drop('full_ids_311',axis=1,inplace=True)
    for j in love.columns:
        inst_df[j][lolo]=sum(love[j])
    #print(inst_df['target'][lolo])
        #print(j)
        #print(inst_df[j][lolo])
        
        #print(sum(love[j]))
        #print(lolo)
    #print(inst_df.ix[lolo])
    lolo=lolo+1

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [101]:
inst_df.head()

,distance_air_show_1,event_code_air_show_2,event_count_air_show_3,game_time_air_show_4,round_air_show_5,target2_air_show_6,bowl_id_happy_camel_7,coordinates.stage_height_happy_camel_8,coordinates.stage_width_happy_camel_9,coordinates.x_happy_camel_10,...,don_302,mikey_303,ned_304,shiny_305,sonny_306,teri_307,tiny_308,add_309,remove_310,full_ids_311
0006c192,61,36180,784,1.15751e+06,14,60,18,4869,9126,7389,...,0,2,0,1,0,1,3,7,2,NaN
0011edc8,31,24120,741,927067,12,36,12,3246,6084,4926,...,0,0,1,2,2,0,0,4,2,NaN
0016b7cc,92,52260,1745,1.97749e+06,24,82,26,7033,13182,10673,...,0,1,2,1,2,1,4,9,4,NaN
001d0ed0,172,88440,1559,1.84201e+06,41,103,45,11902,22308,18062,...,2,4,6,1,5,3,0,15,7,NaN
00225f67,151,96480,2051,3.03624e+06,30,78,52,12984,24336,19704,...,4,2,3,4,1,2,5,22,2,NaN

In [102]:
inst_df.isnull().sum()

distance_air_show_1                          0
event_code_air_show_2                        0
event_count_air_show_3                       0
game_time_air_show_4                         0
round_air_show_5                             0
target2_air_show_6                           0
bowl_id_happy_camel_7                        0
coordinates.stage_height_happy_camel_8       0
coordinates.stage_width_happy_camel_9        0
coordinates.x_happy_camel_10                 0
coordinates.y_happy_camel_11                 0
event_code_happy_camel_12                    0
event_count_happy_camel_13                   0
game_time_happy_camel_14                     0
position_happy_camel_15                      0
round_happy_camel_16                         0
duration_pan_balance_17                      0
event_code_pan_balance_18                    0
event_count_pan_balance_19                   0
game_time_pan_balance_20                     0
round_pan_balance_21                         0
table_weights_pan_balance_22                 0
target_weight_pan_balance_23                 0
weights_pan_balance_24                       0
coordinates.stage_height_deep_dive_25        0
coordinates.stage_width_deep_dive_26         0
coordinates.x_deep_dive_27                   0
coordinates.y_deep_dive_28                   0
event_code_deep_dive_29                      0
event_count_deep_dive_30                     0
                                          ...
ned_282                                      0
none_283                                     0
petey_284                                    0
quincy_285                                   0
sonny_286                                    0
stacey_287                                   0
teri_288                                     0
chicken_289                                  0
cow_290                                      0
hog_291                                      0
pig_292                                      0
sheep_293                                    0
False_294                                    0
True_295                                     0
Soap_296                                     0
Tub_297                                      0
Water_298                                    0
False_299                                    0
True_300                                     0
buddy_301                                    0
don_302                                      0
mikey_303                                    0
ned_304                                      0
shiny_305                                    0
sonny_306                                    0
teri_307                                     0
tiny_308                                     0
add_309                                      0
remove_310                                   0
full_ids_311                              4780
Length: 311, dtype: int64

In [103]:
game_full_df=inst_df.drop('full_ids_311',axis=1)

In [132]:
print(love.columns)

Index(['distance_air_show_1', 'event_code_air_show_2',
       'event_count_air_show_3', 'game_time_air_show_4', 'round_air_show_5',
       'target2_air_show_6', 'bowl_id_happy_camel_7',
       'coordinates.stage_height_happy_camel_8',
       'coordinates.stage_width_happy_camel_9', 'coordinates.x_happy_camel_10',
       ...
       'buddy_301', 'don_302', 'mikey_303', 'ned_304', 'shiny_305',
       'sonny_306', 'teri_307', 'tiny_308', 'add_309', 'remove_310'],
      dtype='object', length=310)

In [127]:
love.head()

,distance_air_show_1,event_code_air_show_2,event_count_air_show_3,game_time_air_show_4,round_air_show_5,target2_air_show_6,bowl_id_happy_camel_7,coordinates.stage_height_happy_camel_8,coordinates.stage_width_happy_camel_9,coordinates.x_happy_camel_10,...,buddy_301,don_302,mikey_303,ned_304,shiny_305,sonny_306,teri_307,tiny_308,add_309,remove_310
0,3.0,4020.0,62.0,109097.0,1.0,7.5,1.0,541.0,1014.0,821.0,...,0,0,0,0,1,0,0,0,1,0
1,5.0,4020.0,64.0,110063.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,1,0
2,7.0,4020.0,67.0,110472.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,1,0,0,0,0,0,0,0,1,0
3,10.0,4020.0,70.0,110880.0,1.0,7.5,3.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,1,0
4,9.0,4020.0,94.0,131323.0,2.0,6.0,2.0,541.0,1014.0,821.0,...,1,0,0,0,0,0,0,0,1,0

In [259]:
for i in new_cols:
    n=full_df_with_dummies[i]
    print((type(n.values[0]).__name__=='str')|(type(n.values[0]).__name__=='bool'))

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [249]:
lolo

0

In [158]:
full_df_with_dummies.head()

,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show,bowl_id_happy_camel,coordinates.stage_height_happy_camel,coordinates.stage_width_happy_camel,coordinates.x_happy_camel,...,buddy,don,mikey,ned,shiny,sonny,teri,tiny,add,remove
0,3.0,4020.0,62.0,109097.0,1.0,7.5,1.0,541.0,1014.0,821.0,...,0,0,0,0,1,0,0,0,1,0
1,5.0,4020.0,64.0,110063.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,1,0
2,7.0,4020.0,67.0,110472.0,1.0,7.5,2.0,541.0,1014.0,821.0,...,1,0,0,0,0,0,0,0,1,0
3,10.0,4020.0,70.0,110880.0,1.0,7.5,3.0,541.0,1014.0,821.0,...,0,0,0,0,0,0,0,1,1,0
4,9.0,4020.0,94.0,131323.0,2.0,6.0,2.0,541.0,1014.0,821.0,...,1,0,0,0,0,0,0,0,1,0

In [ ]:
filled_full_df_with_dummies=full_df_with_dummies.fillna(0)

In [ ]:
inst_df=pd.DataFrame(index=final,columns=new_cols)
lolo=0
final=unique_list(full_df_with_dummies['full_ids'])
for i in final:
    love=filled_full_df_with_dummies[(filled_full_df_with_dummies['full_ids']==i)]
    love.drop('full_ids',axis=1,inplace=True)
    for j in new_cols:
        inst_df[j][lolo]=sum(love[j])
    #print(inst_df['target'][lolo])
        lolo=lolo+1

In [155]:
game_df[(game_df['event_code']==4020)&(game_df['title']=='Leaf Leader')]['event_data'].value_counts()
#4100,4020,4025,

{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":11,"game_time":8619,"event_code":4020}              2
{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":8,"game_time":8181,"event_code":4020}               2
{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":8,"game_time":9522,"event_code":4020}               2
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":7,"dinosaur_count":3,"round":2,"event_count":30,"game_time":41379,"event_code":4020}          2
{"dinosaur":"don","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":337,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":3,"round":1,"event_count":11,"game_time":14380,"event_code":4020}            2
{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":8,"game_time":7119,"event_code":4020}               2
{"dinosaur":"teri","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":359,"stage_width":1015,"stage_height":406},"mode":"add","weight":5,"dinosaur_count":2,"round":1,"event_count":13,"game_time":17147,"event_code":4020}           1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":false,"coordinates":{"x":145,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":4,"dinosaur_count":1,"round":2,"event_count":31,"game_time":120251,"event_code":4020}     1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"remove","weight":6,"dinosaur_count":3,"round":2,"event_count":104,"game_time":121827,"event_code":4020}     1
{"dinosaur":"shiny","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":3,"round":3,"event_count":89,"game_time":141392,"event_code":4020}         1
{"dinosaur":"don","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":337,"stage_width":1015,"stage_height":406},"mode":"remove","weight":9,"dinosaur_count":3,"round":3,"event_count":68,"game_time":126772,"event_code":4020}        1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"add","weight":10,"dinosaur_count":3,"round":3,"event_count":32,"game_time":159728,"event_code":4020}       1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":9,"dinosaur_count":4,"round":6,"event_count":218,"game_time":373437,"event_code":4020}        1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":false,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"remove","weight":2,"dinosaur_count":1,"round":2,"event_count":157,"game_time":228603,"event_code":4020}    1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":331,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":3,"event_count":180,"game_time":193555,"event_code":4020}     1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":false,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":1,"event_count":62,"game_time":175666,"event_code":4020}     1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":60,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":5,"dinosaur_count":3,"round":1,"event_count":14,"game_time":61338,"event_code":4020}        1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":7,"dinosaur_count":4,"round":5,"event_count":122,"game_time":688399,"event_code":4020}        1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":2,"dinosaur_count":1,"round":1,"event_count":91,"game_time":104037,"event_code":4020}          1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":false,"coordinates":{"x":249,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":1,"event_count":13,"game_time":27443,"event_code":4020}      1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"add","weight":8,"dinosaur_count":4,"round":5,"event_count":63,"game_time":107663,"event_code":4020}        1
{"dinosaur":"teri","dinosaur_weight":1,"correct":false,"coordinates":{"x":404,"y":359,"stage_width":1015,"stage_height":406},"mode":"remove","weight":6,"dinosaur_count":3,"round":3,"event_count":95,"game_time":145008,"event_code":4020}      1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"remove","weight":2,"dinosaur_count":1,"round":2,"event_count":135,"game_time":179070,"event_code":4020}    1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":174,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":6,"dinosaur_count":2,"round":1,"event_count":44,"game_time":246782,"event_code":4020}      1
{"dinosaur":"don","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":337,"stage_width":1015,"stage_height":406},"mode":"add","weight":2,"dinosaur_count":1,"round":2,"event_count":26,"game_time":43946,"event_code":4020}            1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":139,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":4,"dinosaur_count":3,"round":2,"event_count":72,"game_time":150369,"event_code":4020}     1
{"dinosaur":"shiny","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":2,"round":2,"event_count":17,"game_time":78997,"event_code":4020}          1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"remove","weight":8,"dinosaur_count":3,"round":2,"event_count":109,"game_time":98746,"event_code":4020}      1
{"dinosaur":"teri","dinosaur_weight":1,"correct":false,"coordinates":{"x":93,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":7,"dinosaur_count":3,"round":2,"event_count":63,"game_time":118810,"event_code":4020}       1
{"dinosaur":"don","dinosaur_weight":2,"correct":true,"coordinates":{"x":251,"y":337,"stage_width":1015,"stage_height":406},"mode":"add","weight":9,"dinosaur_count":4,"round":3,"event_count":83,"game_time":168969,"event_code":4020}           1
                                                                                                                                                                                                                                                ..
{"dinosaur":"mikey","dinosaur_weight":1,"correct":false,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"remove","weight":5,"dinosaur_count":3,"round":2,"event_count":77,"game_time":188488,"event_code":4020}     1
{"dinosaur":"teri","dinosaur_weight":1,"correct":false,"coordinates":{"x":404,"y":359,"stage_width":1015,"stage_height":406},"mode":"remove","weight":7,"dinosaur_count":3,"round":3,"event_count":81,"game_time":212677,"event_code":4020}      1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"remove","weight":5,"dinosaur_count":2,"round":2,"event_count":42,"game_time":42298,"event_code":4020}       1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":false,"coordinates":{"x":342,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":3,"event_count":66,"game_time":128479,"event_code":4020}     1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":9,"game_time":6305,"event_code":4020}            1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":5,"dinosaur_count":3,"round":6,"event_count":166,"game_time":315003,"event_code":4020}        1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":2,"round":1,"event_count":11,"game_time":8032,"event_code":4020}           1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":2,"round":6,"event_count":116,"game_time":270186,"event_code":4020}        1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":2,"round":1,"event_count":11,"game_time":19789,"event_code":4020}          1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":false,"coordinates":{"x":333,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":2,"event_count":63,"game_time":93489,"event_code":4020}      1
{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":1,"event_count":111,"game_time":102074,"event_code":4020}           1
{"dinosaur":"ned","dinosaur_weight":4,"correct":true,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":2,"round":1,"event_count":25,"game_time":54027,"event_code":4020}             1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":9,"dinosaur_count":3,"round":3,"event_count":37,"game_time":104912,"event_code":4020}         1
{"dinosaur":"shiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":303,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":0,"dinosaur_count":0,"round":1,"event_count":54,"game_time":121361,"event_code":4020}     1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"remove","weight":2,"dinosaur_count":1,"round":2,"event_count":72,"game_time":158463,"event_code":4020}     1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":4,"round":1,"event_count":29,"game_time":18660,"event_code":4020}           1
{"dinosaur":"tiny","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":274,"stage_width":1015,"stage_height":406},"mode":"add","weight":2,"dinosaur_count":1,"round":2,"event_count":90,"game_time":210227,"event_code":4020}          1
{"dinosaur":"shiny","dinosaur_weight":2,"correct":false,"coordinates":{"x":258,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":2,"dinosaur_count":1,"round":1,"event_count":137,"game_time":166444,"event_code":4020}    1
{"dinosaur":"mikey","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":319,"stage_width":1015,"stage_height":406},"mode":"add","weight":3,"dinosaur_count":2,"round":2,"event_count":132,"game_time":266645,"event_code":4020}        1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"add","weight":7,"dinosaur_count":3,"round":1,"event_count":57,"game_time":54111,"event_code":4020}          1
{"dinosaur":"ned","dinosaur_weight":4,"correct":false,"coordinates":{"x":251,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":8,"dinosaur_count":3,"round":2,"event_count":243,"game_time":191743,"event_code":4020}      1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":true,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"add","weight":6,"dinosaur_count":3,"round":2,"event_count":21,"game_time":32935,"event_code":4020}          1
{"dinosaur":"teri","dinosaur_weight":1,"correct":true,"coordinates":{"x":404,"y":359,"stage_width":1015,"stage_height":406},"mode":"add","weight":5,"dinosaur_count":2,"round":2,"event_count":88,"game_time":129266,"event_code":4020}          1
{"dinosaur":"teri","dinosaur_weight":1,"correct":false,"coordinates":{"x":404,"y":359,"stage_width":1015,"stage_height":406},"mode":"remove","weight":7,"dinosaur_count":3,"round":2,"event_count":43,"game_time":76410,"event_code":4020}       1
{"dinosaur":"ned","dinosaur_weight":4,"correct":false,"coordinates":{"x":57,"y":274,"stage_width":1015,"stage_height":406},"mode":"remove","weight":4,"dinosaur_count":1,"round":2,"event_count":22,"game_time":36997,"event_code":4020}         1
{"dinosaur":"teri","dinosaur_weight":1,"correct":false,"coordinates":{"x":194,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":4,"dinosaur_count":1,"round":2,"event_count":74,"game_time":122835,"event_code":4020}      1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":94,"y":215,"stage_width":1015,"stage_height":406},"mode":"remove","weight":6,"dinosaur_count":2,"round":1,"event_count":19,"game_time":74787,"event_code":4020}       1
{"dinosaur":"buddy","dinosaur_weight":2,"correct":false,"coordinates":{"x":320,"y":336,"stage_width":1015,"stage_height":406},"mode":"remove","weight":5,"dinosaur_count":3,"round":3,"event_count":192,"game_time":258364,"event_code":4020}    1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"add","weight":8,"dinosaur_count":3,"round":2,"event_count":41,"game_time":62762,"event_code":4020}          1
{"dinosaur":"sonny","dinosaur_weight":4,"correct":true,"coordinates":{"x":154,"y":275,"stage_width":1015,"stage_height":406},"mode":"add","weight":4,"dinosaur_count":1,"round":9,"event_count":162,"game_time":333152,"event_code":4020}        1
Name: event_data, Length: 72461, dtype: int64

In [ ]:
#Chow Time, weight, scale weight scale contents sum correct
#Scrub-A-Dub size item_type, position, animal correct
#All star sorting dinosaur, house size, house position, dino size correct dino_1,2,3,4
#Dino Drink sheel size, position, holes size holes filled, 1,2,3
#Bubble Bath containers, targer containers, position
#crystals Rule group psotion object type
#Dino Dive size, dinosaur, water_level, 
#Pan Balance weights target_weight, table weights
#Happy Camel source, bowl_id,psotion,scale_contents_1,scale_contents_2
#Air Show distance, dinosaur, target distance total, 
#Leaf Leader dinosaur, dinosaur weight, mode, weight, dinosaur_count

In [97]:
game_df[game_df['event_code']==4110]['title'].value_counts()

Air Show    2450
Name: title, dtype: int64

In [54]:
df1['type'].value_counts()

Game          5795293
Activity      4436728
Assessment     925345
Clip           183676
Name: type, dtype: int64

In [105]:
filtered_df=df1[(df1['title']=='Cart Balancer (Assessment)') | (df1['title']=='Cauldron Filler (Assessment)') | (df1['title']=='Mushroom Sorter (Assessment)') | (df1['title']=='Chest Sorter (Assessment)') | (df1['title']=='Bird Measurer (Assessment)')]

In [106]:
filtered_df2=df1[(df1['title']=='Sandcastle Builder (Activity)') | (df1['title']=='Bottle Filler (Activity)') | (df1['title']=='Fireworks (Activity)') | (df1['title']=='Bug Measurer (Activity)') | (df1['title']=='Chicken Balancer (Activity)') | (df1['title']=='Watering Hole (Activity)') | (df1['title']=='Flower Waterer (Activity)') | (df1['title']=='Egg Dropper (Activity)') ]

In [107]:
def unique_list(list_d):
    u_l=[]
    for i in list_d:
        if i not in u_l:
            u_l.append(i)
    return u_l

In [108]:
two_here=filtered_df2[['event_code','event_data','title']]

In [109]:
pd.options.display.max_colwidth = 600

In [110]:
for i in e_l:
    print(i)
    print(len(two_here[two_here['event_code']==i]['event_data']))
    print(two_here[two_here['event_code']==i].head()['event_data'])

NameError: name 'e_l' is not defined

In [114]:
print(two_here[(two_here['title']=='Egg Dropper (Activity)') & (two_here['event_code']==4025)]['event_data'])

10437             {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":7,"game_time":11101,"event_code":4025}
10442            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":12,"game_time":28679,"event_code":4025}
14329            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":27,"game_time":49955,"event_code":4025}
14332            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":30,"game_time":57508,"event_code":4025}
14335            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":33,"game_time":65490,"event_code":4025}
14336            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":34,"game_time":73187,"event_code":4025}
14351            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":49,"game_time":98832,"event_code":4025}
14354           {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":52,"game_time":106813,"event_code":4025}
22137          {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":10,"game_time":20585,"event_code":4025}
22143         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":16,"game_time":29369,"event_code":4025}
22148           {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":21,"game_time":38819,"event_code":4025}
22153           {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":26,"game_time":47487,"event_code":4025}
22160           {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":33,"game_time":55979,"event_code":4025}
22164          {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":37,"game_time":64645,"event_code":4025}
22171            {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":44,"game_time":73372,"event_code":4025}
22177          {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":50,"game_time":82124,"event_code":4025}
26085             {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":25,"game_time":3481,"event_code":4025}
26110          {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":50,"game_time":37282,"event_code":4025}
27423         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":11,"game_time":13762,"event_code":4025}
27426         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":14,"game_time":21880,"event_code":4025}
27431         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":19,"game_time":30197,"event_code":4025}
27434         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":22,"game_time":38148,"event_code":4025}
27437         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":25,"game_time":49719,"event_code":4025}
27444         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":32,"game_time":75626,"event_code":4025}
27449         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":37,"game_time":85670,"event_code":4025}
27453         {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":41,"game_time":94444,"event_code":4025}
27459        {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":47,"game_time":103263,"event_code":4025}
32390          {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":11,"game_time":22602,"event_code":4025}
32395          {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":16,"game_time":30537,"event_code":4025}
32398          {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":19,"game_time":38254,"event_code":4025}
                                                                                                                    ...
11333644        {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":37,"game_time":84245,"event_code":4025}
11333672       {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":65,"game_time":96948,"event_code":4025}
11333676     {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":69,"game_time":107267,"event_code":4025}
11333679     {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":72,"game_time":114900,"event_code":4025}
11333680     {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":73,"game_time":122659,"event_code":4025}
11333688        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":81,"game_time":139748,"event_code":4025}
11333693        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":86,"game_time":147811,"event_code":4025}
11333696        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":89,"game_time":155735,"event_code":4025}
11333699        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":92,"game_time":163377,"event_code":4025}
11333711     {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":104,"game_time":183800,"event_code":4025}
11333719    {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":112,"game_time":200928,"event_code":4025}
11333723     {"nest":4,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":116,"game_time":208883,"event_code":4025}
11333728     {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":121,"game_time":217123,"event_code":4025}
11333735     {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":128,"game_time":224887,"event_code":4025}
11338300       {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":27,"game_time":41955,"event_code":4025}
11338305       {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":32,"game_time":50213,"event_code":4025}
11338307        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":34,"game_time":59488,"event_code":4025}
11338313       {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":40,"game_time":68953,"event_code":4025}
11338316       {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":43,"game_time":78007,"event_code":4025}
11338323        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":50,"game_time":87212,"event_code":4025}
11338327        {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":54,"game_time":95891,"event_code":4025}
11338332       {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":59,"game_time":106711,"event_code":4025}
11338339       {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":66,"game_time":116102,"event_code":4025}
11338344       {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":71,"game_time":124913,"event_code":4025}
11338346      {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":73,"game_time":133633,"event_code":4025}
11338353      {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":80,"game_time":410094,"event_code":4025}
11338357       {"nest":2,"layout":{"row1":["empty","left","empty"],"row2":["right","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":84,"game_time":418680,"event_code":4025}
11338370     {"nest":4,"layout":{"row1":["empty","right","empty"],"row2":["right","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":97,"game_time":445015,"event_code":4025}
11338379      {"nest":3,"layout":{"row1":["empty","right","empty"],"row2":["left","empty","left"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":106,"game_time":462650,"event_code":4025}
11338389      {"nest":1,"layout":{"row1":["empty","left","empty"],"row2":["left","empty","right"]},"coordinates":{"x":476,"y":206,"stage_width":1015,"stage_height":762},"event_count":116,"game_time":489131,"event_code":4025}
Name: event_data, Length: 41765, dtype: object

In [115]:
print(activity_df[(activity_df['title']=='Egg Dropper (Activity)')]['event_code'].value_counts())

NameError: name 'activity_df' is not defined

In [ ]:
print(activity_df[(activity_df['title']=='Sandcastle Builder (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Bottle Filler (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Fireworks (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Bug Measurer (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Chicken Balancer (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Watering Hole (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Flower Waterer (Activity)')]['event_code'].value_counts())

In [ ]:
print(activity_df[(activity_df['title']=='Egg Dropper (Activity)')]['event_code'].value_counts())

In [ ]:
#all have 4020 and 4025

#4080 can be eliminated 4090 can be eliminated

In [118]:
activity_df=filtered_df2[(filtered_df2['event_code']==4090) | (filtered_df2['event_code']==4021) | (filtered_df2['event_code']==4020) | (filtered_df2['event_code']==4025) | (filtered_df2['event_code']==5000) | (filtered_df2['event_code']==4022) | (filtered_df2['event_code']==2020) | (filtered_df2['event_code']==2030) | (filtered_df2['event_code']==4080)]

In [119]:
print(activity_df[(activity_df['title']=='Bottle Filler (Activity)') & (activity_df['event_code']==2030)]['event_data'])

3208                                       {"jar":[{"color":"pink","amount":1},{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"purple","amount":1}],"duration":24742,"round":1,"event_count":22,"game_time":24899,"event_code":2030}
3217                                                                                                {"jar":[{"color":"orange","amount":1},{"color":"purple","amount":1}],"duration":13108,"round":2,"event_count":31,"game_time":38008,"event_code":2030}
3227                                                                                                    {"jar":[{"color":"pink","amount":2},{"color":"blue","amount":2}],"duration":14626,"round":3,"event_count":41,"game_time":52634,"event_code":2030}
3239                                       {"jar":[{"color":"pink","amount":1},{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"purple","amount":1}],"duration":19677,"round":4,"event_count":53,"game_time":72311,"event_code":2030}
3253                                                                                                   {"jar":[{"color":"blue","amount":2},{"color":"green","amount":2}],"duration":20733,"round":5,"event_count":67,"game_time":93044,"event_code":2030}
3261                                                                                                 {"jar":[{"color":"pink","amount":2},{"color":"purple","amount":2}],"duration":14167,"round":6,"event_count":75,"game_time":107211,"event_code":2030}
3286         {"jar":[{"color":"pink","amount":1},{"color":"orange","amount":1},{"color":"blue","amount":1},{"color":"green","amount":1},{"color":"purple","amount":1}],"duration":36002,"round":7,"event_count":101,"game_time":143213,"event_code":2030}
5104                                                                                                                                {"jar":[{"color":"pink","amount":2}],"duration":13222,"round":1,"event_count":13,"game_time":13222,"event_code":2030}
5117                                                                     {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"pink","amount":1}],"duration":19568,"round":2,"event_count":25,"game_time":32790,"event_code":2030}
5123                                                                                                  {"jar":[{"color":"blue","amount":1},{"color":"purple","amount":1}],"duration":14018,"round":3,"event_count":31,"game_time":46808,"event_code":2030}
5132                                                                                                 {"jar":[{"color":"green","amount":2},{"color":"yellow","amount":2}],"duration":17767,"round":4,"event_count":41,"game_time":64575,"event_code":2030}
5148          {"jar":[{"color":"blue","amount":1},{"color":"purple","amount":1},{"color":"orange","amount":1},{"color":"pink","amount":1},{"color":"yellow","amount":1}],"duration":27343,"round":5,"event_count":57,"game_time":91918,"event_code":2030}
5157                                                                                                                             {"jar":[{"color":"purple","amount":2}],"duration":14493,"round":6,"event_count":65,"game_time":106411,"event_code":2030}
5162                                                                                                   {"jar":[{"color":"pink","amount":1},{"color":"blue","amount":1}],"duration":13550,"round":7,"event_count":71,"game_time":119961,"event_code":2030}
5172                                                                   {"jar":[{"color":"blue","amount":1},{"color":"purple","amount":1},{"color":"orange","amount":1}],"duration":23943,"round":8,"event_count":81,"game_time":143904,"event_code":2030}
5194        {"jar":[{"color":"blue","amount":1},{"color":"purple","amount":1},{"color":"orange","amount":1},{"color":"pink","amount":1},{"color":"yellow","amount":1}],"duration":45628,"round":9,"event_count":103,"game_time":189532,"event_code":2030}
5212                                    {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"orange","amount":1},{"color":"blue","amount":1}],"duration":23551,"round":10,"event_count":121,"game_time":213083,"event_code":2030}
5238        {"jar":[{"color":"yellow","amount":1},{"color":"pink","amount":1},{"color":"green","amount":1},{"color":"blue","amount":1},{"color":"purple","amount":1}],"duration":31860,"round":11,"event_count":147,"game_time":244943,"event_code":2030}
5242                                                                                                                            {"jar":[{"color":"yellow","amount":2}],"duration":8317,"round":12,"event_count":151,"game_time":253260,"event_code":2030}
5259                                                                  {"jar":[{"color":"yellow","amount":2},{"color":"green","amount":2},{"color":"blue","amount":2}],"duration":46578,"round":13,"event_count":168,"game_time":299838,"event_code":2030}
5274                                    {"jar":[{"color":"blue","amount":1},{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"orange","amount":1}],"duration":20693,"round":14,"event_count":182,"game_time":320531,"event_code":2030}
6418                                                                       {"jar":[{"color":"pink","amount":2},{"color":"green","amount":1},{"color":"blue","amount":2}],"duration":29802,"round":1,"event_count":17,"game_time":30053,"event_code":2030}
6428                                                                                                {"jar":[{"color":"yellow","amount":1},{"color":"purple","amount":2}],"duration":14184,"round":2,"event_count":28,"game_time":44237,"event_code":2030}
6438                                                                                                  {"jar":[{"color":"purple","amount":2},{"color":"pink","amount":2}],"duration":13550,"round":3,"event_count":38,"game_time":57787,"event_code":2030}
6444                                                                                                                                 {"jar":[{"color":"blue","amount":2}],"duration":9935,"round":4,"event_count":44,"game_time":67722,"event_code":2030}
6452                                                                                                                              {"jar":[{"color":"yellow","amount":2}],"duration":11732,"round":5,"event_count":52,"game_time":79455,"event_code":2030}
6464                                                                     {"jar":[{"color":"purple","amount":2},{"color":"pink","amount":1},{"color":"blue","amount":1}],"duration":46186,"round":6,"event_count":64,"game_time":125641,"event_code":2030}
6472                                                                                                                               {"jar":[{"color":"pink","amount":2}],"duration":10618,"round":7,"event_count":72,"game_time":136259,"event_code":2030}
6487                                                                    {"jar":[{"color":"pink","amount":1},{"color":"green","amount":2},{"color":"purple","amount":2}],"duration":25171,"round":8,"event_count":87,"game_time":161430,"event_code":2030}
6501                                                                   {"jar":[{"color":"purple","amount":2},{"color":"pink","amount":2},{"color":"green","amount":2}],"duration":17331,"round":9,"event_count":101,"game_time":178761,"event_code":2030}
                                                                                                                                ...
11333217    {"jar":[{"color":"pink","amount":1},{"color":"blue","amount":1},{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"purple","amount":1}],"duration":36142,"round":22,"event_count":264,"game_time":502381,"event_code":2030}
11333229                                                             {"jar":[{"color":"pink","amount":1},{"color":"orange","amount":1},{"color":"yellow","amount":1}],"duration":20585,"round":23,"event_count":276,"game_time":522966,"event_code":2030}
11333238                                                                                         {"jar":[{"color":"yellow","amount":1},{"color":"yellow","amount":2}],"duration":19500,"round":24,"event_count":285,"game_time":542466,"event_code":2030}
11334609                                                                                             {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1}],"duration":38839,"round":1,"event_count":17,"game_time":39578,"event_code":2030}
11334625                                                              {"jar":[{"color":"yellow","amount":2},{"color":"yellow","amount":1},{"color":"orange","amount":2}],"duration":30918,"round":2,"event_count":33,"game_time":70496,"event_code":2030}
11334641                                     {"jar":[{"color":"green","amount":1},{"color":"pink","amount":1},{"color":"blue","amount":1},{"color":"yellow","amount":1}],"duration":25592,"round":3,"event_count":49,"game_time":96089,"event_code":2030}
11334654                                  {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"blue","amount":1},{"color":"purple","amount":2}],"duration":27710,"round":4,"event_count":62,"game_time":123799,"event_code":2030}
11334660                                                                                            {"jar":[{"color":"green","amount":2},{"color":"yellow","amount":2}],"duration":17202,"round":5,"event_count":68,"game_time":141001,"event_code":2030}
11334672                                                                                             {"jar":[{"color":"yellow","amount":1},{"color":"pink","amount":2}],"duration":22619,"round":6,"event_count":80,"game_time":163621,"event_code":2030}
11334676                                                                                                                          {"jar":[{"color":"green","amount":2}],"duration":48610,"round":7,"event_count":84,"game_time":212231,"event_code":2030}
11334686                                                                                           {"jar":[{"color":"yellow","amount":2},{"color":"yellow","amount":1}],"duration":14052,"round":8,"event_count":94,"game_time":226284,"event_code":2030}
11334703     {"jar":[{"color":"pink","amount":1},{"color":"purple","amount":1},{"color":"blue","amount":1},{"color":"green","amount":1},{"color":"yellow","amount":2}],"duration":34719,"round":9,"event_count":111,"game_time":261003,"event_code":2030}
11334718                                                              {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"blue","amount":1}],"duration":21089,"round":10,"event_count":126,"game_time":282093,"event_code":2030}
11334730                                                              {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"pink","amount":2}],"duration":19824,"round":11,"event_count":138,"game_time":301917,"event_code":2030}
11334738                                                                                                                         {"jar":[{"color":"blue","amount":2}],"duration":18915,"round":12,"event_count":146,"game_time":320833,"event_code":2030}
11334750                                                                                          {"jar":[{"color":"green","amount":2},{"color":"yellow","amount":2}],"duration":28775,"round":13,"event_count":158,"game_time":349608,"event_code":2030}
11334756                                                                                          {"jar":[{"color":"green","amount":1},{"color":"yellow","amount":1}],"duration":21680,"round":14,"event_count":164,"game_time":371289,"event_code":2030}
11334764                                                                                             {"jar":[{"color":"pink","amount":1},{"color":"pink","amount":2}],"duration":13656,"round":15,"event_count":172,"game_time":384946,"event_code":2030}
11334776                               {"jar":[{"color":"orange","amount":1},{"color":"blue","amount":1},{"color":"purple","amount":1},{"color":"yellow","amount":1}],"duration":29333,"round":16,"event_count":184,"game_time":414279,"event_code":2030}
11334788                                                                                                                       {"jar":[{"color":"yellow","amount":2}],"duration":37475,"round":17,"event_count":196,"game_time":451755,"event_code":2030}
11339161                                                                    {"jar":[{"color":"pink","amount":2},{"color":"blue","amount":1},{"color":"blue","amount":2}],"duration":36314,"round":1,"event_count":38,"game_time":37603,"event_code":2030}
11339169                                                                 {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"pink","amount":1}],"duration":15875,"round":2,"event_count":46,"game_time":53478,"event_code":2030}
11339181                                                                                                {"jar":[{"color":"blue","amount":2},{"color":"pink","amount":2}],"duration":19584,"round":3,"event_count":58,"game_time":73063,"event_code":2030}
11339199                                   {"jar":[{"color":"blue","amount":1},{"color":"pink","amount":1},{"color":"orange","amount":1},{"color":"purple","amount":1}],"duration":31337,"round":4,"event_count":76,"game_time":104401,"event_code":2030}
11339223                                 {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"orange","amount":1},{"color":"blue","amount":1}],"duration":24678,"round":5,"event_count":100,"game_time":129079,"event_code":2030}
11339237                                                                                           {"jar":[{"color":"yellow","amount":2},{"color":"green","amount":2}],"duration":22527,"round":6,"event_count":114,"game_time":151606,"event_code":2030}
11339249                                                                                           {"jar":[{"color":"yellow","amount":1},{"color":"green","amount":1}],"duration":32318,"round":7,"event_count":126,"game_time":183925,"event_code":2030}
11339274     {"jar":[{"color":"pink","amount":1},{"color":"purple","amount":1},{"color":"yellow","amount":1},{"color":"green","amount":1},{"color":"blue","amount":1}],"duration":31798,"round":8,"event_count":151,"game_time":215723,"event_code":2030}
11339288                                                                 {"jar":[{"color":"green","amount":2},{"color":"blue","amount":1},{"color":"blue","amount":2}],"duration":29049,"round":9,"event_count":165,"game_time":244772,"event_code":2030}
11339294                                                                                                                         {"jar":[{"color":"blue","amount":2}],"duration":13707,"round":10,"event_count":171,"game_time":258480,"event_code":2030}
Name: event_data, Length: 71045, dtype: object

In [120]:
activity_df.shape

(1120345, 11)

In [121]:
#chicken pig, rocket, height, bug type, bug length, nest, layout , row 1 row 2 row 3, 
#cloud type, cloud size, water level castlse placed castle postion castle size, size and sand type, jar type , jar color jar amount

In [122]:
#4090 final events
#4021 final events
#4020 final events
#4025 events
#5000 events
#4022 events
#2020 events
#2030 events
#4080 events

In [123]:
e_l=unique_list(filtered_df2['event_code'])

In [124]:
filtered_df.shape

(925345, 11)

In [125]:
df2=pd.read_csv('train_labels.csv')

In [126]:
df2.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [127]:
filtered_df['title'].value_counts()

Mushroom Sorter (Assessment)    199595
Chest Sorter (Assessment)       190318
Bird Measurer (Assessment)      190164
Cauldron Filler (Assessment)    181925
Cart Balancer (Assessment)      163343
Name: title, dtype: int64

In [128]:
df3=pd.read_csv('specs.csv')

In [129]:
first_m=pd.merge(filtered_df,df3,on='event_id')

In [130]:
df2['title'].value_counts()

Cart Balancer (Assessment)      4151
Cauldron Filler (Assessment)    4055
Mushroom Sorter (Assessment)    3757
Chest Sorter (Assessment)       2981
Bird Measurer (Assessment)      2746
Name: title, dtype: int64

In [131]:
df3.head()

,event_id,info,args
0,2b9272f4,"The end of system-initiated feedback (Correct) event occurs when the game finishes delivering feedback to the player in response to a correct round attempt (pressing the go button with the correct answer). It contains information that describes the duration and content of the instruction, and will likely occur in conjunction with a beat round event. These events are used to determine the effectiveness of the feedback. We can answer questions like, ""how much time elapsed while the game was presenting feedback?""","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""round"",""type"":""int"",""info"":""number of the current round when the event takes place or 0 if no round""},{""name"":""level"",""type"":""int"",""info"":""number of the current level when the event takes place or 0 if no level""},{""name"":""description"",""type"":""string"",""info"":""the text or description of the instruction""},{""name"":""identifier"",""type"":""string"",""info"":""a unique identifier for this piece of instruction""},{""name"":""media_type"",""type"":""string"",""info"":""the type of media that has just played:\n'audio' || 'animat..."
1,df4fe8b6,"The end of system-initiated feedback (Incorrect) event occurs when the game finishes delivering feedback to the player in response to an incorrect round attempt (pressing the go button with the incorrect answer). It contains information that describes the content of the instruction. These events are used to determine the effectiveness of the feedback. We can answer questions like, ""how much time elapsed while the game was presenting feedback?""","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""description"",""type"":""string"",""info"":""the text or description of the instruction""},{""name"":""identifier"",""type"":""string"",""info"":""a unique identifier for this piece of instruction""},{""name"":""media_type"",""type"":""string"",""info"":""the type of media that has just played:\n'audio' || 'animation' || 'other'""},{""name"":""duration"",""type"":""int"",""info"":""the duration of the media playback in milliseconds""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""ev..."
2,3babcb9b,"The end of system-initiated instruction event occurs when the game finishes delivering instructions to the player. It contains information that describes the content of the instruction including duration. These events are used to determine the effectiveness of the instructions and the amount of time they consume. We can answer questions like, ""how much time elapsed while the game was presenting instruction?""","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""round"",""type"":""int"",""info"":""number of the current round when the event takes place or 0 if no round""},{""name"":""description"",""type"":""string"",""info"":""the text or description of the instruction""},{""name"":""identifier"",""type"":""string"",""info"":""a unique identifier for this piece of instruction""},{""name"":""media_type"",""type"":""string"",""info"":""the type of media that has just played:\n'audio' || 'animation' || 'other'""},{""name"":""duration"",""type"":""int"",""info"":""the duration of the media playback in milliseconds""},..."
3,7f0836bf,"The end of system-initiated instruction event occurs when the game finishes delivering instructions to the player. It contains information that describes the content of the instruction including duration. These events are used to determine the effectiveness of the instructions and the amount of time they consume. We can answer questions like ""how much time elapsed while the game was presenting instruction?""","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""round"",""type"":""int"",""info"":""number of the current round when the event takes place or 0 if no round""},{""name"":""description"",""type"":""string"",""info"":""the text or description of the instruction""},{""name"":""identifier"",""type"":""string"",""info"":""a unique identifier for this piece of instruction""},{""name"":""media_type"",""type"":""string"",""info"":""the type of media that has just played:\n'audio' || 'animation' || 'other'""},{""name"":""duration"",""type"":""int"",""info"":""the duration of the media playback in milliseconds""},..."
4,ab3136ba,"The end of system-initiated instruction event occurs when the game finishes delivering instructions to the player. It contains information that describes the content of the instruction including duration. These events are used to determine the effectiveness of the instructions and the amount of time they consume. We can answer questions like ""how much time elapsed while the game was presenting instruction?""","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""round"",""type"":""int"",""info"":""number of the current round when the event takes place or 0 if no round""},{""name"":""description"",""type"":""string"",""info"":""the text or description of the instruction""},{""name"":""identifier"",""type"":""string"",""info"":""a unique identifier for this piece of instruction""},{""name"":""media_type"",""type"":""string"",""info"":""the type of media that has just played:\n'audio' || 'animation' || 'other'""},{""name"":""duration"",""type"":""int"",""info"":""the duration of the media playback in milliseconds""},..."

In [132]:
first_m=pd.merge(df1,df3,on='event_id')

In [133]:
first_m.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,info,args
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]"
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]"
2,27253bdc,091587ed87b9637c,2019-09-06T18:10:51.183Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]"
3,27253bdc,3fce4f09769ff0b7,2019-09-06T18:18:11.250Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Tree Top City - Level 1,Clip,TREETOPCITY,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]"
4,27253bdc,04168b61c0650977,2019-09-06T18:18:42.392Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Ordering Spheres,Clip,TREETOPCITY,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]"

In [134]:
full_tandt=pd.merge(first_m,df2,on='installation_id')

In [135]:
full_tandt.head()

,event_id,game_session_x,timestamp,event_data,installation_id,event_count,event_code,game_time,title_x,type,world,info,args,game_session_y,title_y,num_correct,num_incorrect,accuracy,accuracy_group
0,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",6bdf9623adc94d89,Mushroom Sorter (Assessment),1,0,1.0,3
1,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",77b8ee947eb84b4e,Bird Measurer (Assessment),0,11,0.0,0
2,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",901acc108f55a5a1,Mushroom Sorter (Assessment),1,0,1.0,3
3,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",9501794defd84e4d,Mushroom Sorter (Assessment),1,1,0.5,2
4,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts playing,"[{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",a9ef3ecb3d1acc6a,Bird Measurer (Assessment),1,0,1.0,3

In [137]:
final_filter_df=full_tandt[(full_tandt['title_x']==full_tandt['title_y'])]

In [138]:
final_filter_df.shape

(3377485, 19)

In [139]:
final_filter_df['title_x'].value_counts()

Mushroom Sorter (Assessment)    850557
Cauldron Filler (Assessment)    826553
Bird Measurer (Assessment)      585632
Chest Sorter (Assessment)       563505
Cart Balancer (Assessment)      551238
Name: title_x, dtype: int64

In [140]:
final_filter_df['title_y'].value_counts()

Mushroom Sorter (Assessment)    850557
Cauldron Filler (Assessment)    826553
Bird Measurer (Assessment)      585632
Chest Sorter (Assessment)       563505
Cart Balancer (Assessment)      551238
Name: title_y, dtype: int64

In [141]:
full_tandt['title_x'].value_counts()

Scrub-A-Dub                      8194412
Bottle Filler (Activity)         6764681
Chow Time                        5745828
Sandcastle Builder (Activity)    5315848
Crystals Rule                    4909354
Bug Measurer (Activity)          4396723
Fireworks (Activity)             4268736
Bubble Bath                      4157600
Pan Balance                      4149101
Dino Drink                       3416337
Dino Dive                        3407653
Happy Camel                      3330595
Chicken Balancer (Activity)      3233470
Air Show                         3205929
Flower Waterer (Activity)        3177810
All Star Sorting                 3052537
Mushroom Sorter (Assessment)     2914510
Cauldron Filler (Assessment)     2796730
Bird Measurer (Assessment)       2714330
Chest Sorter (Assessment)        2570481
Watering Hole (Activity)         2511416
Leaf Leader                      2354373
Egg Dropper (Activity)           2181664
Cart Balancer (Assessment)       1941801
Magma Peak - Level 2               91856
Crystal Caves - Level 2            83754
Tree Top City - Level 2            82688
Crystal Caves - Level 3            79786
Welcome to Lost Lagoon!            75155
Tree Top City - Level 3            71614
Ordering Spheres                   67589
Slop Problem                       53372
Pirate's Tale                      51264
Magma Peak - Level 1               49627
12 Monkeys                         49045
Tree Top City - Level 1            48490
Treasure Map                       47655
Crystal Caves - Level 1            46906
Balancing Act                      39155
Lifting Heavy Things               39070
Costume Box                        37737
Honey Cake                         32235
Heavy, Heavier, Heaviest           31842
Rulers                             31210
Name: title_x, dtype: int64

In [142]:
full_tandt['title_y'].value_counts()

Cauldron Filler (Assessment)    21220604
Mushroom Sorter (Assessment)    20506353
Cart Balancer (Assessment)      19764464
Bird Measurer (Assessment)      15370714
Chest Sorter (Assessment)       14959834
Name: title_y, dtype: int64

In [143]:
full_tandt['type'].value_counts()

Game          45923719
Activity      31850348
Assessment    12937852
Clip           1110050
Name: type, dtype: int64

In [144]:
final_filter_df.head()

,event_id,game_session_x,timestamp,event_data,installation_id,event_count,event_code,game_time,title_x,type,world,info,args,game_session_y,title_y,num_correct,num_incorrect,accuracy,accuracy_group
10535,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0,""event_code"":2000}",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,"The start game event is triggered at the very beginning of the level (after the game finishes loading, don't wait for intro movie to finish). This is used to compute things like time spent in game.","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""version"",""type"":""string"",""info"":""identifier of the current version of the game being played""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",6bdf9623adc94d89,Mushroom Sorter (Assessment),1,0,1.0,3
10537,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0,""event_code"":2000}",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,"The start game event is triggered at the very beginning of the level (after the game finishes loading, don't wait for intro movie to finish). This is used to compute things like time spent in game.","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""version"",""type"":""string"",""info"":""identifier of the current version of the game being played""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",901acc108f55a5a1,Mushroom Sorter (Assessment),1,0,1.0,3
10538,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0,""event_code"":2000}",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,"The start game event is triggered at the very beginning of the level (after the game finishes loading, don't wait for intro movie to finish). This is used to compute things like time spent in game.","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""version"",""type"":""string"",""info"":""identifier of the current version of the game being played""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",9501794defd84e4d,Mushroom Sorter (Assessment),1,1,0.5,2
10540,3bfd1a65,6bdf9623adc94d89,2019-08-06T05:37:50.020Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0,""event_code"":2000}",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,"The start game event is triggered at the very beginning of the level (after the game finishes loading, don't wait for intro movie to finish). This is used to compute things like time spent in game.","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""version"",""type"":""string"",""info"":""identifier of the current version of the game being played""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",6bdf9623adc94d89,Mushroom Sorter (Assessment),1,0,1.0,3
10542,3bfd1a65,6bdf9623adc94d89,2019-08-06T05:37:50.020Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0,""event_code"":2000}",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,"The start game event is triggered at the very beginning of the level (after the game finishes loading, don't wait for intro movie to finish). This is used to compute things like time spent in game.","[{""name"":""game_time"",""type"":""int"",""info"":""millisecond count since start of game""},{""name"":""version"",""type"":""string"",""info"":""identifier of the current version of the game being played""},{""name"":""event_count"",""type"":""int"",""info"":""session event counter""},{""name"":""event_code"",""type"":""int"",""info"":""event class identifier""}]",901acc108f55a5a1,Mushroom Sorter (Assessment),1,0,1.0,3

In [145]:
ffd_df=final_filter_df[(final_filter_df['event_code']==4100)|(final_filter_df['event_code']==4110)]

In [146]:
ffd_df['event_data'].head()

11185    {"correct":true,"stumps":[1,2,4],"event_count":44,"game_time":31011,"event_code":4100}
11187    {"correct":true,"stumps":[1,2,4],"event_count":44,"game_time":31011,"event_code":4100}
11188    {"correct":true,"stumps":[1,2,4],"event_count":44,"game_time":31011,"event_code":4100}
11190    {"correct":true,"stumps":[1,2,4],"event_count":30,"game_time":18026,"event_code":4100}
11192    {"correct":true,"stumps":[1,2,4],"event_count":30,"game_time":18026,"event_code":4100}
Name: event_data, dtype: object

In [147]:
import json
ffd_df['title_x'].value_counts()

Bird Measurer (Assessment)      49556
Cauldron Filler (Assessment)    41388
Chest Sorter (Assessment)       32704
Mushroom Sorter (Assessment)    31620
Cart Balancer (Assessment)      24749
Name: title_x, dtype: int64

In [148]:
def event_sorter(ent,cols):
    df=pd.DataFrame(index=range(0,len(ent)),columns=cols)
    c=df.columns
    num=0
    for i in ent:
        e=0
        #print(i)

        for k in i:
            cc=c[e]
            df[cc][num]=k
            e=e+1
            #print(k)
        num=num+1
    return df

In [149]:
f1=ffd_df[ffd_df['title_x']=='Chest Sorter (Assessment)']
cs_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))

In [150]:
cs_df.head()

   correct  event_code  event_count  game_time    pillars
0    False        4100           25      34514        [1]
1    False        4100           26      27923         []
2    False        4100           38      43773         []
3    False        4100           48      56891  [3, 1, 2]
4    False        4100           59      68738  [0, 2, 1]

In [151]:
first=event_sorter(cs_df['pillars'],cols=['chest_l', 'chest_c','chest_r'])

In [152]:
f2=ffd_df[ffd_df['title_x']=='Bird Measurer (Assessment)']
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
bm_df['caterpillars']=bm_df['caterpillars'].fillna("n")
sixth=event_sorter(bm_df['caterpillars'],cols=['cat_p_l','cat_p_c','cat_p_r'])

In [153]:
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
bm_df.head()

  caterpillars  correct  event_code  event_count  game_time hats
0   [11, 8, 3]    False        4110           29      35771  NaN
1   [11, 8, 3]    False        4110           29      35771  NaN
2  [11, 8, 11]    False        4110           35      42805  NaN
3  [11, 8, 11]    False        4110           35      42805  NaN
4   [11, 8, 5]    False        4110           40      47388  NaN

In [154]:
f3=ffd_df[ffd_df['title_x']=='Cauldron Filler (Assessment)']
cf_df=pd.io.json.json_normalize(f3.event_data.apply(json.loads))

In [155]:
cf_df.head()

,buckets,buckets_placed,correct,duration,event_code,event_count,game_time
0,"[0, 0, 0]","[3, 1, 2]",True,12635,4100,20,12635
1,"[0, 0, 0]","[3, 1, 2]",True,18665,4100,13,18665
2,"[0, 0, 0]","[3, 1, 2]",True,19657,4100,22,19657
3,"[0, 0, 0]","[3, 1, 2]",True,11353,4100,12,11353
4,"[0, 0, 0]","[3, 1, 2]",True,11353,4100,12,11353

In [156]:
second=event_sorter(cf_df['buckets'],cols=['caul_l_b','caul_c_b','caul_r_b'])
third=event_sorter(cf_df['buckets_placed'],cols=['caul_l_a','caul_c_a','caul_r_a'])

In [157]:
f4=ffd_df[ffd_df['title_x']=='Mushroom Sorter (Assessment)']
ms_df=pd.io.json.json_normalize(f4.event_data.apply(json.loads))

In [158]:
ms_df.head()

   correct  event_code  event_count  game_time     stumps
0     True        4100           44      31011  [1, 2, 4]
1     True        4100           44      31011  [1, 2, 4]
2     True        4100           44      31011  [1, 2, 4]
3     True        4100           30      18026  [1, 2, 4]
4     True        4100           30      18026  [1, 2, 4]

In [159]:
fourth=event_sorter(ms_df['stumps'],cols=['mush_l','mush_c','mush_r'])

In [160]:
f5=ffd_df[ffd_df['title_x']=='Cart Balancer (Assessment)']
cb_df=pd.io.json.json_normalize(f5.event_data.apply(json.loads))

In [161]:
cb_df['right'][3]

[{'id': 'gem08', 'weight': 6},
 {'id': 'gem06', 'weight': 4},
 {'id': 'gem03', 'weight': 3},
 {'id': 'gem02', 'weight': 1}]

In [162]:
import json
ent=cb_df['left']
cols=['weight_l','gems_l','weight_r','gems_r']
fifth=pd.DataFrame(index=range(0,len(ent)),columns=cols)
ny=0
for i in cb_df['left']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_l'][ny]=w
    fifth['gems_l'][ny]=len(i)
    ny=ny+1

In [163]:
ny=0
for i in cb_df['right']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_r'][ny]=w
    fifth['gems_r'][ny]=len(i)
    ny=ny+1

In [164]:
fifth.head()

  weight_l gems_l weight_r gems_r
0        6      1        6      1
1       10      2       10      3
2       14      4       14      4
3       14      4       14      4
4       14      4       14      4

In [165]:
ind=ffd_df['installation_id']
sg=[]
for o in range(0,len(ind)):
    sg.append(o)
ffd_df['new']=sg

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [166]:
ffd_df.set_index('new',inplace=True)

In [167]:
super_df=pd.concat([ffd_df,first,second,third,fourth,fifth,sixth],axis=1)
filled_df=super_df.fillna(0)

In [168]:
filled_df['game_session_y']

0         6bdf9623adc94d89
1         901acc108f55a5a1
2         9501794defd84e4d
3         6bdf9623adc94d89
4         901acc108f55a5a1
5         9501794defd84e4d
6         6bdf9623adc94d89
7         901acc108f55a5a1
8         9501794defd84e4d
9         6bdf9623adc94d89
10        901acc108f55a5a1
11        9501794defd84e4d
12        77b8ee947eb84b4e
13        a9ef3ecb3d1acc6a
14        77b8ee947eb84b4e
15        a9ef3ecb3d1acc6a
16        77b8ee947eb84b4e
17        a9ef3ecb3d1acc6a
18        77b8ee947eb84b4e
19        a9ef3ecb3d1acc6a
20        77b8ee947eb84b4e
21        a9ef3ecb3d1acc6a
22        77b8ee947eb84b4e
23        a9ef3ecb3d1acc6a
24        77b8ee947eb84b4e
25        a9ef3ecb3d1acc6a
26        77b8ee947eb84b4e
27        a9ef3ecb3d1acc6a
28        77b8ee947eb84b4e
29        a9ef3ecb3d1acc6a
                ...
179987    89327730a963baf8
179988    0963cf75a2c46eb2
179989    be404f342567152a
179990    d80626fa2dfc3d1a
179991    e7742e2273276d2b
179992    be404f342567152a
179993    d80626fa2dfc3d1a
179994    e7742e2273276d2b
179995    be404f342567152a
179996    d80626fa2dfc3d1a
179997    e7742e2273276d2b
179998    be404f342567152a
179999    d80626fa2dfc3d1a
180000    e7742e2273276d2b
180001    be404f342567152a
180002    d80626fa2dfc3d1a
180003    e7742e2273276d2b
180004    29d49201b23eaa0f
180005    41f5106b9b6f1aee
180006    41f5106b9b6f1aee
180007    41f5106b9b6f1aee
180008    41f5106b9b6f1aee
180009    41f5106b9b6f1aee
180010    41f5106b9b6f1aee
180011    41f5106b9b6f1aee
180012    41f5106b9b6f1aee
180013    41f5106b9b6f1aee
180014    bdaaa3f243a3663c
180015    bdaaa3f243a3663c
180016    c9a323ec3617fffc
Name: game_session_y, Length: 180017, dtype: object

In [169]:
#Cart left right dictionaries
#Bird catterpillars list 3
#Cauldren  buckets 000 132, buckets_placed list 3
#Chest Sorter pillars list 3
#Mushroom stumps list 3
filled_df.columns

Index(['event_id', 'game_session_x', 'timestamp', 'event_data',
       'installation_id', 'event_count', 'event_code', 'game_time', 'title_x',
       'type', 'world', 'info', 'args', 'game_session_y', 'title_y',
       'num_correct', 'num_incorrect', 'accuracy', 'accuracy_group', 'chest_l',
       'chest_c', 'chest_r', 'caul_l_b', 'caul_c_b', 'caul_r_b', 'caul_l_a',
       'caul_c_a', 'caul_r_a', 'mush_l', 'mush_c', 'mush_r', 'weight_l',
       'gems_l', 'weight_r', 'gems_r', 'cat_p_l', 'cat_p_c', 'cat_p_r'],
      dtype='object')

In [170]:
import numpy as np
np.mean([1,2,3])

2.0

In [171]:
inst_ids=set(filled_df['installation_id'].values)
final=list(inst_ids)
len(final)

3614

In [172]:
filled_df.replace('n',0,inplace=True)
filled_df.replace('None',0,inplace=True)

In [178]:
#inst_ids=set(filled_df['installation_id'].values)
#final=list(inst_id)
new_cols=['time_spent','total_event_count','av_num_correct',
          'av_num_incorrect','world','number_of_sessions','total_game_time','chest_l',
       'chest_c', 'chest_r', 'caul_l_b', 'caul_c_b', 'caul_r_b', 'caul_l_a',
       'caul_c_a', 'caul_r_a', 'mush_l', 'mush_c', 'mush_r', 'weight_l',
       'gems_l', 'weight_r', 'gems_r', 'cat_p_l', 'cat_p_c', 'cat_p_r','av_accuracy','accuracy_group','target']
inst_df=pd.DataFrame(index=final,columns=new_cols)
lolo=0
for i in final:
    love=filled_df[(filled_df['installation_id']==i)]
    p=list(love['accuracy_group'])
    inst_df['target'][lolo]=p[-1]
    love.drop(love.tail(1).index,inplace=True)
    inst_df['total_event_count'][i]=sum(love['event_count'])
    inst_df['av_num_correct'][i]=np.mean(love['num_correct'])
    inst_df['av_num_incorrect'][i]=sum(love['num_incorrect'])
    inst_df['number_of_sessions'][i]=len(love['game_session_x'])
    inst_df['av_num_correct'][i]=sum(love['num_correct'])
    inst_df['chest_l'][i]=sum(love['chest_l'])
    inst_df['chest_c'][i]=sum(love['chest_c'])
    inst_df['chest_r'][i]=sum(love['chest_r'])
    inst_df['caul_l_b'][i]=sum(love['caul_l_b'])
    inst_df['caul_c_b'][i]=sum(love['caul_c_b'])
    inst_df['caul_r_b'][i]=sum(love['caul_r_b'])
    inst_df['caul_l_a'][i]=sum(love['caul_l_a'])
    inst_df['caul_c_a'][i]=sum(love['caul_c_a'])
    inst_df['caul_r_a'][i]=sum(love['caul_r_a'])
    inst_df['mush_l'][i]=sum(love['mush_l'])
    inst_df['mush_c'][i]=sum(love['mush_c'])
    inst_df['mush_r'][i]=sum(love['mush_r'])
    inst_df['cat_p_l'][i]=sum(love['cat_p_l'])
    inst_df['cat_p_c'][i]=sum(love['cat_p_c'])
    inst_df['cat_p_r'][i]=sum(love['cat_p_r'])
    inst_df['gems_l'][i]=sum(love['gems_l'])
    #inst_df['gems_c'][i]=sum(love['gems_c'])
    inst_df['gems_r'][i]=sum(love['gems_r'])
    inst_df['weight_l'][i]=sum(love['weight_l'])
    #inst_df['weight_c'][i]=sum(love['weight_c'])
    inst_df['weight_r'][i]=sum(love['weight_r'])
    #print(inst_df['target'][lolo])
    lolo=lolo+1

In [179]:
inst_df['target']

711edce2    0
2adc00e9    0
ea9e5eb7    2
186e87c9    0
5eda8452    3
a72ece94    1
114a661c    2
43f41153    0
c9cd99ae    0
53bfa190    2
f0102f91    3
50c49551    3
6d1d56f5    3
2f171282    3
eb483200    1
af038715    3
13f554bb    0
96b02f25    1
18459039    3
c0309d29    1
dc5cb136    2
e1de0f0a    2
7165fcc4    2
9fdd2edc    2
b2140cf6    0
17356e54    3
c72e8d74    1
7dcc999f    1
95395a66    1
e881e420    3
           ..
925782e3    0
36a50492    3
cc1f941f    3
6b46516b    0
ded5df29    1
47136c04    1
dcf0d150    0
2ec486c2    3
996c185b    2
c15861a6    2
5e7aaf29    3
c7e523f1    3
2c8998a6    3
396c8b53    3
4ed199d7    0
1b4ff2dc    3
0bed589b    3
3ca5193d    1
26d524bb    3
6a0d6436    1
790ac84c    3
c8f13a56    0
b1fd1f0f    2
57859a8e    0
533d6d85    0
dedbb518    0
fd97b5b2    0
cf9c9fd0    0
1df1f92f    2
f4ccdb2f    3
Name: target, Length: 3614, dtype: object

In [180]:
inst_df.isnull().sum()

time_spent            3614
total_event_count        0
av_num_correct           0
av_num_incorrect         0
world                 3614
number_of_sessions       0
total_game_time       3614
chest_l                  0
chest_c                  0
chest_r                  0
caul_l_b                 0
caul_c_b                 0
caul_r_b                 0
caul_l_a                 0
caul_c_a                 0
caul_r_a                 0
mush_l                   0
mush_c                   0
mush_r                   0
weight_l                 0
gems_l                   0
weight_r                 0
gems_r                   0
cat_p_l                  0
cat_p_c                  0
cat_p_r                  0
av_accuracy           3614
accuracy_group        3614
target                   0
dtype: int64

In [183]:
asess_df=inst_df.drop(['world','total_game_time','av_accuracy','accuracy_group'],axis=1)

In [186]:
full_df_of_all=pd.merge(asess_df,game_full_df,how='inner',left_index=True,right_index=True)

In [189]:
for i in full_df_of_all:
    print(full_df_of_all[i].isnull().sum())

2054
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [190]:
full_df_of_all.head()

,time_spent,total_event_count,av_num_correct,av_num_incorrect,number_of_sessions,chest_l,chest_c,chest_r,caul_l_b,caul_c_b,...,buddy_301,don_302,mikey_303,ned_304,shiny_305,sonny_306,teri_307,tiny_308,add_309,remove_310
2adc00e9,NaN,5068,125,216,157,0,0,0,0,0,...,4,3,0,2,4,4,0,3,15,5
a72ece94,NaN,216,8,6,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43f41153,NaN,124,1,20,5,0,0,0,0,0,...,1,0,2,0,2,0,2,0,4,3
c9cd99ae,NaN,1740,34,96,45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53bfa190,NaN,28,1,1,1,0,0,0,0,0,...,3,1,0,6,3,6,1,1,13,8

In [191]:
full_df_of_all.drop('time_spent',axis=1,inplace=True)

In [287]:
import pickle
file=open('ultimate_df_pickle.pkl','wb')
pickle.dump(full_df_of_all,file)
file.close()

In [293]:
infile = open('ultimate_df_pickle.pkl','rb')  
# load the object from the file into var b
b = pickle.load(infile)
infile.close()

In [291]:
print(file)

<_io.TextIOWrapper name='ultimate_df_pickle.pkl' mode='r' encoding='utf8'>

In [211]:
for i in full_df_of_all.columns:
    n=full_df_of_all[i]
    print((type(n.values[0]).__name__=='str')|(type(n.values[0]).__name__=='bool'))

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [279]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
X=full_df_of_all.drop('target',axis=1)
X.replace('unknown',0,inplace=True)
y=full_df_of_all['target']
y=y.astype('int')

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25)

In [280]:
y.shape

(2054,)

In [281]:
inst=RandomForestClassifier()
f=inst.fit(X_train,y_train)
y_pred=f.predict(X_test)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [282]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.5642023346303502

In [237]:
inst=RandomForestRegressor()
f=inst.fit(X_train,y_train)
y_pred=f.predict(X_test)

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [238]:
y_pred

array([2.6, 0.5, 2.1, 1.1, 1.1, 1.1, 0. , 3. , 0.4, 1.4, 0. , 3. , 0.6,
       0.5, 2.3, 2.1, 0.6, 2.1, 0. , 1.1, 0.6, 2.2, 0.2, 0. , 1. , 0.7,
       2.7, 0.7, 1.9, 1.3, 0.7, 0.3, 1. , 0.4, 0.9, 2. , 0.5, 1.5, 0.5,
       2.7, 1.2, 2.4, 0.2, 0.5, 2.3, 2. , 2.1, 1.2, 0.8, 2.1, 2.3, 2.4,
       2.7, 0.3, 1.8, 2.9, 0. , 3. , 1.8, 1.2, 1.3, 1.8, 0.8, 0.6, 2.2,
       1.5, 0.4, 1.4, 1.8, 1. , 2.4, 0.6, 2. , 0.8, 2. , 1.5, 0.6, 3. ,
       1.3, 1. , 1.2, 0.4, 2. , 0. , 2.7, 1. , 0. , 2.3, 1.8, 0. , 1. ,
       0.4, 0.2, 1.9, 2.1, 0. , 2.7, 0.8, 2.1, 0.7, 0.8, 0. , 3. , 0.9,
       1.9, 2.7, 0.9, 0.2, 1.7, 0.6, 0.7, 2. , 0.1, 0.3, 2.2, 1.5, 0.9,
       0.9, 0.3, 0.6, 0.4, 1.1, 2.1, 1. , 2.4, 1.9, 1.3, 0.5, 0.7, 2.3,
       0.4, 1.4, 0.5, 3. , 2. , 1.2, 0.6, 0.1, 2.4, 3. , 3. , 1.2, 2.7,
       1.4, 3. , 1.3, 1.6, 0.4, 2.3, 0.7, 1.7, 0.4, 1.7, 0.1, 0.9, 0.8,
       0.7, 2.7, 0. , 1.3, 0.1, 0.8, 2.7, 1.5, 3. , 2.4, 2. , 3. , 2.1,
       2. , 0.6, 2. , 0.5, 0. , 1.5, 2.3, 1.8, 0.6, 2.7, 0.7, 1.1, 2.4,
       1.5, 0.5, 1.3, 0.5, 2.7, 0.2, 1.2, 0.6, 3. , 0. , 0.5, 3. , 0.1,
       2.4, 0.8, 1.2, 2.4, 0.2, 0.9, 0.8, 0.3, 0. , 3. , 1.6, 0. , 0. ,
       0.9, 0.9, 0.4, 2.4, 2.7, 0.2, 0.3, 0.8, 0.8, 1.2, 0.5, 1. , 2.6,
       0.7, 1.6, 0.6, 1.2, 0. , 0.3, 1.4, 0. , 2.4, 0.3, 0.1, 1. , 0. ,
       0.5, 0.5, 2.7, 2.7, 0.8, 2.4, 1.1, 1.2, 1.1, 0.4, 2.2, 0. , 0.7,
       0.7, 1.2, 3. , 0.4, 0.3, 0.4, 0.9, 1.4, 0.2, 0.6, 0.4, 1.5, 1.5,
       0.8, 0.2, 1.1, 0. , 0. , 0.5, 1.1, 1.6, 1. , 1.6, 0.3, 2.2, 0.2,
       1.6, 1.2, 0.4, 3. , 0.9, 0.4, 0.3, 0.9, 1.1, 1. , 1.4, 2.1, 1.4,
       1.7, 2.2, 3. , 1.4, 2.7, 3. , 0. , 1.4, 0.8, 0.1, 0.9, 0.6, 0. ,
       2. , 3. , 1.1, 0. , 2. , 0.3, 1.9, 1.1, 1.5, 0.2, 0.3, 3. , 1.6,
       2.1, 2.7, 1.1, 0. , 2. , 0. , 2. , 2.7, 2.4, 0.6, 2.1, 1.7, 1.2,
       2.1, 3. , 0.8, 1.8, 1.6, 1.4, 3. , 0.7, 0.3, 0. , 2.1, 0.6, 2.4,
       0.4, 0.7, 1.1, 0. , 1. , 0.8, 1.7, 1.5, 1.3, 1.9, 1.3, 2.3, 3. ,
       1.2, 1.1, 1.7, 1.4, 0.2, 0.7, 1.5, 0.1, 1.2, 1.4, 3. , 0.8, 1.2,
       2.7, 0.9, 2.1, 0.7, 0.6, 2.2, 0.8, 2. , 0.5, 0.9, 0.6, 0.4, 0.5,
       0.8, 3. , 1.6, 1.9, 1.8, 2.4, 0.3, 0. , 2.3, 0. , 2.4, 1.3, 0.9,
       2. , 2.7, 0.8, 1.3, 0.2, 2.1, 1.1, 2.7, 0.3, 0.1, 1.3, 0.7, 0.9,
       1.5, 0.6, 1.2, 0.1, 0.8, 1.2, 0.4, 1.5, 0.9, 2.9, 1.5, 0. , 0.6,
       0.8, 1.7, 1.7, 0.3, 1.2, 0.6, 0.4, 0.8, 0. , 0.6, 0. , 2.6, 0.7,
       2.6, 1.9, 2.7, 1. , 0.5, 0. , 2.3, 0.5, 1.5, 0. , 1.1, 2.3, 2.4,
       0. , 1.7, 1.4, 2.7, 2. , 1.6, 0.8, 1.8, 2.7, 2.6, 3. , 0.2, 0. ,
       0.2, 0.4, 0. , 2.1, 1.8, 1.1, 1. , 0. , 1. , 1.7, 0.2, 0.9, 0.6,
       1.5, 2.7, 2.4, 1. , 0.7, 2.6, 0.6, 0.7, 2.1, 0.7, 1.4, 1. , 0. ,
       1.1, 2.7, 2.4, 2.7, 2.6, 0. , 0. , 2.7, 0.8, 0.4, 1.8, 2.6, 2.2,
       2. , 2.6, 2.4, 0.9, 0.6, 0.1, 0.9, 3. , 2.1, 2.5, 0.7, 1.1, 0.3,
       0.2, 2.3, 1.3, 2.7, 2.7, 1.7, 3. , 0.6, 2.7, 1.6, 0. , 1.5, 0.4,
       0. , 0.1, 2.4, 2. , 2. , 1.1, 1.5, 0.6, 0.2, 0.5, 0.6, 0.6, 1.3,
       3. , 1. , 1.2, 2. , 2.5, 0.5, 0.8, 0.3, 3. , 1.1, 2.1, 0. , 2.5,
       0.8, 2.1, 2.1, 0.6, 1.8, 2.4, 1.7, 2.1, 1.7, 0.4, 0.6, 0.8, 0.5,
       0.9, 3. , 0.4, 1.1, 2.7, 0.9, 1.4, 1.1, 3. , 1.2, 0.7, 1.2, 2.1,
       1.3, 1.1, 1.2, 0.7, 0.9, 2.6, 2.7, 0.7, 2.1, 3. , 2.3, 1.3, 1.8,
       0.9, 0.2, 0.7, 2.6, 1.2, 0.6, 1.8, 1. , 0.6, 0.9, 2. , 0. , 0.7,
       0.8, 1. , 2.3, 0. , 2.4, 3. , 0. , 1.6, 0.5, 1.5, 1. , 1.3, 0.4,
       2.7, 2.5, 1.4, 0.7, 0.5, 0.5, 2.1, 3. , 2.1, 0. , 2.6, 1. , 0.3,
       1.8, 0.1, 1.3, 1.5, 0.7, 2.1, 2.7, 0.8, 1.6, 1.5, 0.8, 1.5, 1.6,
       0.7, 2.7, 2.4, 0. , 0.9, 0.4, 0.8, 0.8, 2.7, 0. , 0.2, 1.2, 0.9,
       2.4, 3. , 1.6, 1.6, 1. , 2.3, 0.6, 3. , 2.4, 1.1, 0.8, 2.4, 1.5,
       0.6, 1.6, 1.6, 1.1, 2.1, 1.8, 2.1, 1.3, 0.6, 2.3, 0.5, 3. , 2.1,
       0.8, 0.2])

In [228]:
y.value_counts()

0    916
3    635
1    282
2    221
Name: target, dtype: int64

In [ ]:
len(inst_ids)

In [ ]:
col=['cart_left','cart_right','cat_p_l','cat_p_c',
     'cat_p_r','caul_l_b','caul_c_b','caul_r_b',
     'caul_l_a','caul_c_a','caul_r_a','mush_l',
     'mush_c','mush_r','chest_l', 'chest_c','chest_r']

In [ ]:
import json
extracted_event_data = pd.io.json.json_normalize(ffd_df.event_data.apply(json.loads))

In [ ]:
extracted_event_data.columns

In [ ]:
extracted_event_data.head()

In [ ]:
extracted_event_data['pillars'].value_counts()

In [ ]:
#seperate based on type, this is how we will divide the attributes and receive the results
#To receive them each group will have to be analzed seperately 
#ignore specific attributes of the games and the overalapping attributes each can be generalized

In [ ]:
filtered_df=full_tandt[(full_tandt['event_code']==4100) | (full_tandt['event_code']==4110)]

In [ ]:
filtered_df.shape

In [ ]:
filtered_df.head()

In [ ]:
import json
extracted_event_data = pd.io.json.json_normalize(filtered_df.event_data.apply(json.loads))

In [ ]:
extracted_event_data