In [1]:
import pickle
import pandas as pd

In [2]:
infile = open('ultimate_df_pickle.pkl','rb')  
# load the object from the file into var b
event_data_df = pickle.load(infile)
infile.close()

In [3]:
event_data_df.head()

,total_event_count,av_num_correct,av_num_incorrect,number_of_sessions,chest_l,chest_c,chest_r,caul_l_b,caul_c_b,caul_r_b,...,buddy_301,don_302,mikey_303,ned_304,shiny_305,sonny_306,teri_307,tiny_308,add_309,remove_310
2adc00e9,5068,125,216,157,0,0,0,0,0,0,...,4,3,0,2,4,4,0,3,15,5
a72ece94,216,8,6,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43f41153,124,1,20,5,0,0,0,0,0,0,...,1,0,2,0,2,0,2,0,4,3
c9cd99ae,1740,34,96,45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53bfa190,28,1,1,1,0,0,0,0,0,0,...,3,1,0,6,3,6,1,1,13,8

In [28]:
u_l=event_data_df.index
u_l[1]

'a72ece94'

In [30]:
df1=pd.read_csv('train.csv')

In [31]:
df1.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [32]:
title_list=df1['title']
type_list=df1['type']
world_list=df1['world']
freq_df=df1[['title','type','world']]

In [33]:
#pd.get_dummies(title_list)

In [34]:
freq_df.head()

                           title      type      world
0        Welcome to Lost Lagoon!      Clip       NONE
1           Magma Peak - Level 1      Clip  MAGMAPEAK
2  Sandcastle Builder (Activity)  Activity  MAGMAPEAK
3  Sandcastle Builder (Activity)  Activity  MAGMAPEAK
4  Sandcastle Builder (Activity)  Activity  MAGMAPEAK

In [35]:
def from_list_to_dummies(df):
    for i in df.columns:
        dum=pd.get_dummies(i)
        
        df=pd.concat([df,dum],axis=1)
        df.drop(i,axis=1,inplace=True)
    return df

In [36]:
def unique_list(list_d):
    u_l=[]
    for i in list_d:
        if i not in u_l:
            u_l.append(i)
    return u_l

In [37]:
dum=pd.get_dummies(freq_df)

In [38]:
dum_id=pd.concat([df1['installation_id'],dum],axis=1)

In [44]:
dum_id.columns

Index(['installation_id', 'title_12 Monkeys', 'title_Air Show',
       'title_All Star Sorting', 'title_Balancing Act',
       'title_Bird Measurer (Assessment)', 'title_Bottle Filler (Activity)',
       'title_Bubble Bath', 'title_Bug Measurer (Activity)',
       'title_Cart Balancer (Assessment)',
       'title_Cauldron Filler (Assessment)', 'title_Chest Sorter (Assessment)',
       'title_Chicken Balancer (Activity)', 'title_Chow Time',
       'title_Costume Box', 'title_Crystal Caves - Level 1',
       'title_Crystal Caves - Level 2', 'title_Crystal Caves - Level 3',
       'title_Crystals Rule', 'title_Dino Dive', 'title_Dino Drink',
       'title_Egg Dropper (Activity)', 'title_Fireworks (Activity)',
       'title_Flower Waterer (Activity)', 'title_Happy Camel',
       'title_Heavy, Heavier, Heaviest', 'title_Honey Cake',
       'title_Leaf Leader', 'title_Lifting Heavy Things',
       'title_Magma Peak - Level 1', 'title_Magma Peak - Level 2',
       'title_Mushroom Sorter (Assessment)', 'title_Ordering Spheres',
       'title_Pan Balance', 'title_Pirate's Tale', 'title_Rulers',
       'title_Sandcastle Builder (Activity)', 'title_Scrub-A-Dub',
       'title_Slop Problem', 'title_Treasure Map',
       'title_Tree Top City - Level 1', 'title_Tree Top City - Level 2',
       'title_Tree Top City - Level 3', 'title_Watering Hole (Activity)',
       'title_Welcome to Lost Lagoon!', 'type_Activity', 'type_Assessment',
       'type_Clip', 'type_Game', 'world_CRYSTALCAVES', 'world_MAGMAPEAK',
       'world_NONE', 'world_TREETOPCITY'],
      dtype='object')

In [39]:
dum_id.shape

(11341042, 53)

In [45]:
u_l

Index(['2adc00e9', 'a72ece94', '43f41153', 'c9cd99ae', '53bfa190', 'f0102f91',
       '6d1d56f5', '13f554bb', '96b02f25', '18459039',
       ...
       '996c185b', 'c15861a6', 'c7e523f1', '2c8998a6', '396c8b53', '4ed199d7',
       '0bed589b', '3ca5193d', 'b1fd1f0f', 'dedbb518'],
      dtype='object', length=2054)

In [56]:
def add_freq_for_actions(df,id_list,id_col):
    o=0
    freq_df=pd.DataFrame(index=range(0,len(id_list)), columns=df.columns)
    for j in id_list:
        love=df[df[id_col]==j]
        #love.drop(id_col,axis=1,inplace=True)
        for i in df.columns:
            if i != id_col:
                freq_df[i][o]=sum(love[i])
        o=o+1
    return freq_df

In [63]:
freq_added=add_freq_for_actions(dum_id,u_l,'installation_id')

KeyboardInterrupt:

In [68]:
df=dum_id
id_list=u_l
id_col='installation_id'

o=0
freq_df=pd.DataFrame(index=range(0,len(id_list)), columns=df.columns)
for j in id_list:
    love=df[df[id_col]==j]
        #love.drop(id_col,axis=1,inplace=True)
    for i in df.columns:
        if i != id_col:
            freq_df[i][o]=sum(love[i])
    o=o+1

In [70]:
freq_df.head()

,installation_id,title_12 Monkeys,title_Air Show,title_All Star Sorting,title_Balancing Act,title_Bird Measurer (Assessment),title_Bottle Filler (Activity),title_Bubble Bath,title_Bug Measurer (Activity),title_Cart Balancer (Assessment),...,title_Watering Hole (Activity),title_Welcome to Lost Lagoon!,type_Activity,type_Assessment,type_Clip,type_Game,world_CRYSTALCAVES,world_MAGMAPEAK,world_NONE,world_TREETOPCITY
0,NaN,3,351,256,4,192,229,634,559,145,...,215,2,1947,819,63,3802,1580,2343,2,2706
1,NaN,0,168,0,0,66,0,0,0,0,...,0,0,70,105,5,587,421,0,0,346
2,NaN,0,0,0,0,0,183,0,0,13,...,0,1,297,73,10,66,143,299,1,3
3,NaN,0,324,171,2,164,203,170,101,61,...,78,4,1009,499,28,2581,1153,1680,4,1280
4,NaN,0,0,107,1,0,0,0,0,0,...,0,1,180,57,18,789,247,506,1,290

In [69]:
o

2054

In [74]:
pickle
outfile=open('freq_data.pkl','wb')
pickle.dump(freq_df,outfile)
outfile.close()

In [75]:
infile = open('freq_data.pkl','rb')  
# load the object from the file into var b
event_data_df = pickle.load(infile)
infile.close()