In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
# Replace path with path to your train.csv and train_labels.csv
train = pd.read_csv('../DSB_DF/train.csv')
train_labels = pd.read_csv('../DSB_DF/train_labels.csv')
train_wl = pd.merge(train, train_labels)
train_wl.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,num_correct,num_incorrect,accuracy,accuracy_group
0,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
1,db02c830,901acc108f55a5a1,2019-08-06T05:22:01.400Z,"{""event_count"":2,""game_time"":37,""event_code"":2...",0006a69f,2,2025,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
2,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:01.403Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,3,3010,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
3,a52b92d5,901acc108f55a5a1,2019-08-06T05:22:05.242Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,4,3110,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
4,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:05.244Z,"{""description"":""To pick a mushroom, pull it ou...",0006a69f,5,3010,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3

In [3]:
train_wl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 865447 entries, 0 to 865446
Data columns (total 15 columns):
event_id           865447 non-null object
game_session       865447 non-null object
timestamp          865447 non-null object
event_data         865447 non-null object
installation_id    865447 non-null object
event_count        865447 non-null int64
event_code         865447 non-null int64
game_time          865447 non-null int64
title              865447 non-null object
type               865447 non-null object
world              865447 non-null object
num_correct        865447 non-null int64
num_incorrect      865447 non-null int64
accuracy           865447 non-null float64
accuracy_group     865447 non-null int64
dtypes: float64(1), int64(6), object(8)
memory usage: 105.6+ MB

In [20]:
from pandas.io.json import json_normalize
#json_normalize(train['event_data'].iloc[0:7].apply(json.loads))
event_data_df = json_normalize(train['event_data'].apply(json.loads))

In [22]:
event_data_df.head()

,event_code,event_count,version,game_time,description,identifier,media_type,total_duration,duration,coordinates.x,...,nest,pillars,max_position,end_position,gate.row,gate.column,gate.side,dinosaur_weight,dinosaur_count,chests
0,2000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3010,2,NaN,53.0,"Let's build a sandcastle! First, fill up your ...","Dot_LetsSandcastle,Dot_FillMold,Dot_MoldShape",audio,6758.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3110,3,NaN,6972.0,"Let's build a sandcastle! First, fill up your ...","Dot_LetsSandcastle,Dot_FillMold,Dot_MoldShape",audio,NaN,6919.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
event_data_df.to_csv('eventData.csv')